<h5>Authors</h5>
<li class="list-group-item author d-flex justify-content-between align-items-center">    
    <b><span>ORDER</span><span style="margin-left: 90px;">AUTHOR</span><span style="margin-left: 220px; margin-right: 200px;">INSTITUTION</span><span>ACTION</span></b>
</li>
<form class="sortable list-group" hx-trigger="end" hx-post="{% url 'sort_authors' %}" hx-target="#authors" >
    <div class="htmx-indicator">Updating...</div>
    {% for paper_author in paper_authors %}
        <div>
            <input type="hidden" name="author_order" value="{{ paper_author.pk }}"/>
            <li class="list-group-item author d-flex justify-content-between align-items-center">    
                <span style="margin-left: 20px;">#{{ paper_author.order }}</span><span style="margin-left: 70px; width: 200px;">{{ paper_author.author.first_name }} {{ paper_author.author.last_name }}{% if paper_author.corresponding_author %}<br/><i style="color: grey;">(Corresponding Author)</i>{% endif %}<br/> <a href="mailto:{{ paper_author.author.email }}">{{ paper_author.author.email }}</a></span>
                <span style="width: 300px;">{{ paper_author.author.institution }}{% if paper_author.author.city %}, {{ paper_author.author.city }}{% endif %}{% if paper_author.author.state %}, {{ paper_author.author.state }}{% endif %}, {{ paper_author.author.country }}</span>
                
                <span>
                    <select>
                        <option selected disabled>Select...</option>
                        {% if not paper_author.author.user %}
                            <option data-toggle="modal" data-target="#editAuthorModal{{ paper_author.author.id }}">Edit</option> 
                        {% endif %}    
                        {% if not paper_author.corresponding_author %}
                            <option data-toggle="modal" data-target="#correspondingAuthor{{ paper_author.author.id }}">Assign as Corresponding Author</option>
                        {% endif %}
                        <option hx-delete="{% url 'delete_author' paper_author.paper.id paper_author.author.pk %}" hx-target="#add_authors" hx-confirm="Are you sure you wish to delete this Author?">Delete</option>
                    </select>
                </span>      
            </li>
        </div>    
    {% endfor %}
</form>    
    
{% for paper_author in paper_authors %}
    {% if not paper_author.author.user %}
        <!-- Modal -->
        <div class="modal fade" id="editAuthorModal{{ paper_author.author.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit Author <span style="color: grey;">{{ paper_author.author.email }}</span></h5>
                    
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="edit-author-form{{ paper_author.author.id }}" class="modal-form" hx-post="{% url 'edit_author' paper_author.paper.id paper_author.author.id %}" hx-target='#authors'>
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label><span style="color: red;">*</span> First name</label>
                                    <input type="text" class="form-control" name="first_name" id="first-name-edit{{ paper_author.author.id }}" value="{{ paper_author.author.first_name }}">
                                    {% comment %} <div id="first-name-error-edit{{ paper_author.author.id }}" class="error-message" style="color:red;"></div> {% endcomment %}
                                </div>
                                <div class="form-group col-md-6">
                                    <label><span style="color: red;">*</span> Last name</label>
                                    <input type="text" class="form-control" name="last_name" id="last-name-edit{{ paper_author.author.id }}" value="{{ paper_author.author.last_name }}">
                                    <div id="last-name-error-edit{{ paper_author.author.id }}" class="error-message" style="color:red;"></div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label><span style="color: red;">*</span> Institution</label>
                                  <input type="text" class="form-control" id="institution{{ paper_author.author.id }}" name="institution" value="{{ paper_author.author.institution }}">
                                  <div id="institution-error{{ paper_author.author.id }}" class="error-message" style="color:red;"></div>
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-4">
                                  <label><span style="color: red;">*</span> Country</label>
                                  <input type="text" class="form-control" id="country{{ paper_author.author.id }}" name="country" value="{{ paper_author.author.country }}">
                                  <div id="country-error{{ paper_author.author.id }}" class="error-message" style="color:red;"></div>
                                </div>
                                <div class="form-group col-md-4">
                                  <label>State</label>
                                  <input type="text" class="form-control" id="state{{ paper_author.author.id }}" name="state" value="{{ paper_author.author.state }}">
                                  <div id="state-error{{ paper_author.author.id }}" class="error-message" style="color:red;"></div>
                                </div>
                                <div class="form-group col-md-4">
                                  <label>City</label>
                                  <input type="text" class="form-control" id="city{{ paper_author.author.id }}" name="city" value="{{ paper_author.author.city }}">
                                  <div id="city-error{{ paper_author.author.id }}" class="error-message" style="color:red;"></div>
                                </div>
                              </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-angle-left"></i>&nbsp;Search Again</button>

                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-edit"></i>&nbsp;&nbsp;Edit Author
                            </button>

                            {% comment %} <a href="#" id="edit-author-button-hidden{{ paper_author.author.id }}" type="button" class="btn btn-primary" data-dismiss="modal" hx-post="{% url 'edit_author' paper_author.paper.id paper_author.author.id %}" hx-target='#authors' hx-trigger="click" style="display: none;"></a>
                            <a href="#" id="edit-author-button{{ paper_author.author.id }}" type="button" class="btn btn-primary"><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit Author</a> {% endcomment %}
                        </div>
                    </form>      
                </div>
            </div>
        </div>
        <!-- Modal end -->

        <script>
            document.getElementById('edit-author-form{{ paper_author.author.id }}').addEventListener('submit', function(event) {
                event.preventDefault();
        
                $('#editAuthorModal{{ paper_author.author.id }}').modal('hide');
            });
        
            {% comment %} hiddenButton2 = document.getElementById('edit-author-button-hidden{{ paper_author.author.id }}'); 
            button2 = document.getElementById('edit-author-button{{ paper_author.author.id }}');
            //console.log(button2);
            button2.addEventListener("click", function() {
            
            firstName2 = document.getElementById('first-name-edit{{ paper_author.author.id }}');
            lastName2 = document.getElementById('last-name-edit{{ paper_author.author.id }}');
        
            firstNameError2 = document.getElementById('first-name-error-edit{{ paper_author.author.id }}');
            lastNameError2 = document.getElementById('last-name-error-edit{{ paper_author.author.id }}');
        
            if (firstName2.value == '')
                firstNameError2.innerHTML = 'First Name is required';
            else
                firstNameError2.innerHTML = '';
            
            if (lastName2.value == '')
                lastNameError2.innerHTML = 'Last Name is required';
            else
                lastNameError2.innerHTML = '';
            
            if (firstName2.value && lastName2.value) {
                
                hiddenButton2.click();
            }
            
        }); {% endcomment %}
        
        </script>

        
    {% endif %}    
{% endfor %}

{% for paper_author in paper_authors %}
    {% if not paper_author.corresponding_author %}    
        <!-- Modal -->
        <div class="modal fade" id="correspondingAuthor{{ paper_author.author.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><i class="fas fa-edit"></i>&nbsp;&nbsp;Assign as Corresponding Author</h5>
                    
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to assign the author, {{ paper_author.author.first_name }} {{ paper_author.author.last_name }} as corresponding?<br/><br/>

                        This is the person who is listed as the author to be contacted in the printed publication.<br/><br/>

                        The person whose contact details are included in the published article. Depending on the site configuration, this also might be the person who is contacted regarding the submission during the peer review process or signs the publishing agreement on behalf of all of the authors.
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-angle-left"></i>&nbsp;No, Close</button>

                        <a href="#" id="correspondingAuthor{{ paper_author.author.id }}" type="button" class="btn btn-primary" data-dismiss="modal" hx-post="{% url 'assign_corresponding_author' paper_author.id %}" hx-target='#authors' hx-trigger="click">Yes&nbsp;<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end -->
    {% endif %}
{% endfor %}

