<li class="list-group-item author d-flex justify-content-between align-items-center">    
    <span><b>ORDER AUTHOR ACTION</b></span>
</li>
<form class="sortable list-group" hx-trigger="end" hx-post="{% url 'sort_authors' %}" hx-target="#authors" >
    <div class="htmx-indicator">Updating...</div>
    {% for paper_author in paper_authors %}
        <div>
            <input type="hidden" name="author_order" value="{{ paper_author.pk }}"/>
            <li class="list-group-item author d-flex justify-content-between align-items-center">    
                #{{ paper_author.order }} {{ paper_author.author.first_name }} {{ paper_author.author.last_name }} <a href="mailto:{{ paper_author.author.email }}">{{ paper_author.author.email }}</a>
                <select>
                    <option selected disabled>Select...</option>
                    {% if not paper_author.author.user %}
                        <option data-toggle="modal" data-target="#editAuthorModal{{ paper_author.author.id }}">Edit</option> 
                    {% endif %}    
                    <option hx-delete="{% url 'delete_author' paper_author.paper.id paper_author.author.pk %}" hx-target="#add_authors" hx-confirm="Are you sure you wish to delete this Author?">Delete</option>
                </select>  
            </li>
        </div>    
    {% endfor %}
</form>    
    
{% for paper_author in paper_authors %}
    {% if not paper_author.author.user %}
        <!-- Modal -->
        <div class="modal fade" id="editAuthorModal{{ paper_author.author.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit Author <span style="color: grey;">{{ paper_author.author.email }}</span></h5>
                    
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="edit-author-form{{ paper_author.author.id }}" class="modal-form">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>First name</label>
                                    <input type="text" class="form-control" name="first_name" id="first-name-edit{{ paper_author.author.id }}" value="{{ paper_author.author.first_name }}">
                                    <div id="first-name-error-edit{{ paper_author.author.id }}" class="error-message" style="color:red;"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Last name</label>
                                    <input type="text" class="form-control" name="last_name" id="last-name-edit{{ paper_author.author.id }}" value="{{ paper_author.author.last_name }}">
                                    <div id="last-name-error-edit{{ paper_author.author.id }}" class="error-message" style="color:red;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-angle-left"></i>&nbsp;Search Again</button>

                            <a href="#" id="edit-author-button-hidden{{ paper_author.author.id }}" type="button" class="btn btn-primary" data-dismiss="modal" hx-post="{% url 'edit_author' paper_author.paper.id paper_author.author.id %}" hx-target='#authors' hx-trigger="click" style="display: none;"></a>
                            <a href="#" id="edit-author-button{{ paper_author.author.id }}" type="button" class="btn btn-primary"><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit Author</a>
                        </div>
                    </form>      
                </div>
            </div>
        </div>
        <!-- Modal end -->

        <script>
            {% comment %} document.getElementById('edit-author-form{{ paper_author.author.id }}').addEventListener('submit', function(event) {
                event.preventDefault();
        
                $('#editAuthorModal{{ paper_author.author.id }}').modal('hide');
            }); {% endcomment %}
        
            hiddenButton2 = document.getElementById('edit-author-button-hidden{{ paper_author.author.id }}'); 
            button2 = document.getElementById('edit-author-button{{ paper_author.author.id }}');
            //console.log(button2);
            button2.addEventListener("click", function() {
            console.log("liliyyyyy");
            console.log(button2);
            firstName2 = document.getElementById('first-name-edit{{ paper_author.author.id }}');
            lastName2 = document.getElementById('last-name-edit{{ paper_author.author.id }}');
        
            firstNameError2 = document.getElementById('first-name-error-edit{{ paper_author.author.id }}');
            lastNameError2 = document.getElementById('last-name-error-edit{{ paper_author.author.id }}');
        
            if (firstName2.value == '')
                firstNameError2.innerHTML = 'First Name is required';
            else
                firstNameError2.innerHTML = '';
            
            if (lastName2.value == '')
                lastNameError2.innerHTML = 'Last Name is required';
            else
                lastNameError2.innerHTML = '';
            
            if (firstName2.value && lastName2.value) {
                console.log("Rosyyy");
                hiddenButton2.click();
            }
            
        });
        
        </script>

        
    {% endif %}        
{% endfor %}

