{% load custom_filters %}
{% load widget_tweaks %}

<div id="permanentElement" class="hidden">
    {% if not review.is_innovative or not review.rating or not review.anything_to_be_deleted or not review.interest_to_engineers or not review.recommendation or review.anything_to_be_deleted == 'Yes' and review.what_should_be_deleted == ''  %}
        <div class="error-box">
            <i class="fas fa-exclamation-triangle"></i>&nbsp;Please attend to the following:<br/>
            <ul>
                {% if not review.is_innovative %}
                  <li>Does the paper present innovative ideas or material? is a required field.</li>
                {% endif %}
                
                {% if not review.rating %}
                  <li>Rating of the paper wrt its contribution to knowledge is a required field.</li>
                {% endif %}

                {% if not review.anything_to_be_deleted %}
                  <li>Should anything be deleted from or condensed in the paper? is a required field.</li>
                {% elif review.anything_to_be_deleted == 'Yes' %}
                  <li>You indicated that anything has to be deleted from or condensed in the paper. Please provide details.</li>
                {% endif %}

                {% if not review.interest_to_engineers %}
                  <li>Is this paper of potential interest to developers and engineers? is a required field.</li>
                {% endif %}

                {% if not review.recommendation %}
                  <li>Recommendation is a required field.</li>
                {% endif %}  
            </ul>
        </div><br/>
    {% endif %}
</div>


<form hx-post="{% url 'save_review' paper.id %}" hx-target="#review-form" id="myForm">
    {% csrf_token %}
    <table class="table table-bordered" >
      <tr>
        <td>
          <b>Reviewer recommendation for paper type</b>
          {{ form.paper_type }}
        </td>
      </tr>

      <tr>
        <td>  
          <b>Should this paper be considered for a best paper award?</b>
          {{ form.has_best_paper_award_potential }}
        </td>
      </tr>
      
      <tr>
        <td>  
          <b><span style="color: red;">*</span> Does the paper present innovative ideas or material?</b>
          {{ form.is_innovative }}
        </td>
      </tr>  

      <tr>
        <td>  
          <b><span style="color: red;">*</span> Rate the paper on its contribution to the body of knowledge to this field(none=1, very important=5)</b><br/>
          {% for choice in form.rating %}
            <span style="margin-right: 50px;">{{ choice }}</span>
          {% endfor %}
        </td>
      </tr>

      <tr>
        <td> 
        <b><span style="color: red;">*</span> Should anything be deleted from or condensed in the paper?</b>
        {{ form.anything_to_be_deleted }}
        </td>
      </tr>

      <tr>
        <td> 
        <b><span id="asterisk" style="color: red; visibility: hidden;">*</span> If so, please explain</b>
          {{ form.what_should_be_deleted|add_class:'form-control' }}
        </td>
      </tr>

      <tr>
        <td>
        <b>What amount of copy editing do you think the paper needs?</b>
        {{ form.amt_of_copy_editing }}
        </td>
      </tr>

      <tr>
        <td>
        <b><span style="color: red;">*</span> Is this paper of potential interest to developers and engineers?</b>
        {{ form.interest_to_engineers }}
        </td>
      </tr>

      <tr>
        <td>
        <b>Would you be willing to review a revision of this manuscript?</b>
        {{ form.will_review_revised_version }}
        </td>
      </tr>

      <tr>
        <td>
        <b><span style="color: red;">*</span> Recommendation</b>
        {{ form.recommendation }}
        </td>
      </tr>

      <tr>
        <td>
        <b>Confidential Comments to Editor</b>
        {{ form.comments_to_editor|add_class:'form-control' }}
        </td>
      </tr>

      <tr>
        <td>
          <b>Comments to Author</b>
          {{ form.comments_to_author|add_class:'form-control' }}
        </td>
      </tr>
    </table>

    <button id="submit-review-hidden" type="submit" style="visibility: hidden;"></button>
  </form>  

  <script>

    $(document).ready(function() {
    // Check if the element should be displayed permanently from localStorage
    var objectId = {{ review.id }};
    if (localStorage.getItem('elementVisible-' + objectId) === 'true') {
        document.getElementById('permanentElement').classList.remove('hidden');
    } else {
      // If the element is not displayed, set the localStorage value to 'true' for future visits
      localStorage.setItem('elementVisible-' + objectId, 'true');
    }
  });
  </script>