{% csrf_token %}
<li class="list-group-item d-flex justify-content-between align-items-center">    
    <span><b>ORDER NAME STATUS REMOVE</b></span>
</li>
<form class="sortable list-group" hx-trigger="end" hx-post="{% url 'sort_reviewers' %}" hx-target="#reviewers" >
    <div class="htmx-indicator">Updating...</div>
    {% for paper_reviewer in paper_reviewers %}
        <div>
            <input type="hidden" name="reviewer_order" value="{{ paper_reviewer.pk }}"/>
            <li class="list-group-item d-flex justify-content-between align-items-center">    
                #{{ paper_reviewer.order }} {{ paper_reviewer.reviewer.first_name }} {{ paper_reviewer.reviewer.last_name }} 
                <select>
                    <option selected disabled>Select...</option>
                    {% if not paper_reviewer.reviewer.user %}
                        <option data-toggle="modal" data-target="#editReviewerModal{{ paper_reviewer.reviewer.id }}">Edit</option> 
                    {% endif %}    
                    <option hx-delete="{% url 'delete_reviewer' paper_reviewer.paper.id paper_reviewer.reviewer.pk %}" hx-target="#reviewers" hx-confirm="Are you sure you wish to delete this Reviewer?">Delete</option>
                </select>  
            </li>
        </div>    
    {% endfor %}
</form>    


{% for paper_reviewer in paper_reviewers %}
    {% if not paper_reviewer.reviewer.user %}
        <!-- Modal -->
        <div class="modal fade" id="editReviewerModal{{ paper_reviewer.reviewer.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit Reviewer <span style="color: grey;">{{ paper_reviewer.reviewer.email }}</span></h5>
                    
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="edit-reviewer-form{{ paper_reviewer.reviewer.id }}" hx-post="{% url 'edit_author' paper_reviewer.paper.id paper_reviewer.reviewer.id %}" hx-target='#reviewers'>
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>First name</label>
                                    <input type="text" class="form-control" name="first_name" value="{{ paper_reviewer.reviewer.first_name }}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Last name</label>
                                    <input type="text" class="form-control" name="last_name" value="{{ paper_reviewer.reviewer.last_name }}">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-angle-left"></i>&nbsp;Search Again</button>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-edit"></i>&nbsp;&nbsp;Edit Reviewer
                            </button>
                        </div>
                    </form>      
                </div>
            </div>
        </div>
        <!-- Modal end -->
        <script>
            document.getElementById('edit-reviewer-form{{ paper_reviewer.reviewer.id }}').addEventListener('submit', function(event) {
                event.preventDefault();

                $('#editReviewerModal{{ paper_reviewer.reviewer.id }}').modal('hide');
            });
        </script>
    {% endif %}        
{% endfor %}


<script>
    function initializeSortable() {
        var sortables = document.querySelectorAll(".sortable");
        for (var i = 0; i < sortables.length; i++) {
            var sortable = sortables[i];
            new Sortable(sortable, {
                animation: 150,
                ghostClass: 'blue-background-class'
            });
        }
    }

    initializeSortable();

    htmx.onLoad(function(content) {
        initializeSortable();
    });
</script>    

 