{% if user %}

  <!-- Modal -->
  <div class="modal fade" id="addUserAsAuthor2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Did you mean this Author?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Reviewer</th>
                    <th scope="col">Institution</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ user.first_name }} {{ user.last_name }}<br/><a href="mailto{{ user.email }}">{{ user.email }}</a></td>
                <td>{{ user.institution }}{% if user.city %}, {{ user.city }}{% endif %}{% if user.state %}, {{ user.state }}{% endif %}, {{ user.country }}</td>
              </tr>
            </tbody>
          </table>
        </div>    
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-angle-left"></i>&nbsp;No</button>
          <a href="#" type="button" class="btn btn-primary" data-dismiss="modal" hx-post="{% url 'add_user_as_author' paper_id user.id %}" hx-target="#add_authors" onclick="clearSearchAndHide('errorMessage');">Yes&nbsp;<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </div>

    <script> 
      $(document).ready(function() {
          var yesButtonClicked = false; 
    
          $('#addUserAsAuthor2').modal('show');
          $('#AddNewAuthor').modal('hide');
    
          $('#addUserAsAuthor2').on('hidden.bs.modal', function () {
              if (!yesButtonClicked) { 
                  $('#email').val("");
  
                  var message = "We removed the e-mail address you entered because it is associated with an existing account you chose not to use. Use a different e-mail address or, if you have changed your mind, you may enter the e-mail address again and link to the existing account.";
                  $('#message').text(message);
                  $('.error-message').text("");
  
                  $('#AddNewAuthor').modal('show');
              } else {
                  yesButtonClicked = false;
              }
            });
  
          $('#addUserAsAuthor2 .btn-primary').click(function () {
            yesButtonClicked = true;
          }); 
      }); 
    </script>


{% elif author %}

  <!-- Modal -->
  <div class="modal fade" id="addAuthorAsAuthor2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Did you mean this Author?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Reviewer</th>
                    <th scope="col">Institution</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ author.first_name }} {{ author.last_name }}<br/><a href="mailto{{ author.email }}">{{ author.email }}</a></td>
                <td>{{ author.institution }}{% if author.city %}, {{ author.city }}{% endif %}{% if author.state %}, {{ author.state }}{% endif %}, {{ author.country }}</td>
              </tr>
            </tbody>
          </table>
        </div>    
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-angle-left"></i>&nbsp;No</button>
          <a href="#" type="button" class="btn btn-primary" data-dismiss="modal" hx-post="{% url 'add_author_as_author' paper_id author.id %}" hx-target="#add_authors" onclick="clearSearchAndHide('errorMessage');">Yes&nbsp;<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </div>

  
  <script> 
    $(document).ready(function() {
        var yesButtonClicked = false; 
  
        $('#AddNewAuthor').modal('hide');
        $('#addAuthorAsAuthor2').modal('show');
  
        $('#addAuthorAsAuthor2').on('hidden.bs.modal', function () {
            if (!yesButtonClicked) { 
                $('#email').val("");

                var message = "We removed the e-mail address you entered because it is associated with an existing account you chose not to use. Use a different e-mail address or, if you have changed your mind, you may enter the e-mail address again and link to the existing account.";
                $('#message').text(message);
                $('.error-message').text("");

                $('#AddNewAuthor').modal('show');
            } else {
                yesButtonClicked = false;
            }
          });

        $('#addAuthorAsAuthor2 .btn-primary').click(function () {
          yesButtonClicked = true;
        }); 
    }); 
  </script>


  {% elif reviewer %}
      <script>
          var author_error_box = document.getElementById("author-error-box");  
          var author_error = document.getElementById("author-error");
          author_error.innerHTML = "If you want to add {{ reviewer.email }} as an author to this manuscript you need first to remove him/her from the list of your preferred/opposed list of reviewers for this manuscript in step 6.";
          author_error_box.style.display = 'block';

          document.getElementById("add-author-button").style.pointerEvents="none";
          document.getElementById("add-author-button").style.cursor="default";
          document.getElementById("add-author-button").style.opacity=0.5;
      </script>

    {% else %}

      <script>
          var author_error = document.getElementById("author-error");
          var author_error_box = document.getElementById("author-error-box");  
          author_error.innerHTML = "";
          author_error_box.style.display = 'none';
          document.getElementById("add-author-button").style.pointerEvents="auto";
          document.getElementById("add-author-button").style.cursor="pointer";
          document.getElementById("add-author-button").style.opacity=1;
      </script>


{% endif %}


