<style>
    .error-box {
        border: 2px solid red;
        background-color: lightcoral;
        color: darkred;
        padding: 10px;
        width: 800px;
    }
</style>    

{% if not paper.additionalAttributes.all or not paper.attributes.all %}
    <div class="error-box"> 
        <i class="fas fa-exclamation-triangle"></i>&nbsp;Please attend to the following:<br/>
        <ul>
            {% if not paper.attributes.all  %}
                <li>Minimum entries for attributes not entered.</li>
            {% endif %}    
            {% if not paper.additionalAttributes.all %}
                <li>Minimum additional attributes not chosen.</li>
            {% endif %}   
        </ul> 
    </div>
{% endif %}