{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<style>
  body {
    background: #222D32;
    font-family: 'Roboto', sans-serif;
  }

  .login-box {
    margin-top: 30px;
    
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 20px;
  }

  .login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
  }

  .login-form {
    margin-top: 25px;
    margin-left: 50%;
    text-align: left;
  }

  input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
  }

  input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
  }

  .form-group {
    margin-bottom: 40px;
    outline: 0px;
  }

  .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
  }

  input:focus {
    outline: none;
    box-shadow: 0 0 0;
  }

  label {
    margin-bottom: 0px;
    color: white;
  }

  .form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
  }

  .login-btm {
    float: left;
  }

  .login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
  }

  .login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
  }

  .loginbttm {
    padding: 0px;
  }

  .red-asterisk {
    color: red;
  }
  
  .form-group select#id_research_areas {
    width: 100%;
  }
</style> 


{% block navbar %}
{% endblock %}

<div class="col-lg-12 login-title">
  <h2>Register</h2>
</div>
<div class="col-lg-12 login-key text-center">
  <i class="fa fa-key" aria-hidden="true"></i>
</div>
<div class="login-box">
<div class="col-lg-6 col-md-8">
  <div class="col-lg-12 login-form">
    <form enctype="multipart/form-data" class="form-group" action="{% url 'register_user' %}" method="post" id="user_form">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-4">
          <label><span class="red-asterisk">*</span> First name</label> {{ form.first_name|add_class:'form-control' }}
        </div>
        <div class="form-group col-md-4">
          <label><span class="red-asterisk">*</span> Last name</label> {{ form.last_name|add_class:'form-control' }}
        </div>
        <div class="form-group col-md-4">
          <label><span class="red-asterisk">*</span> Email address</label> {{ form.email|add_class:'form-control' }}
        </div>
      </div>

      <input type="hidden" name="username" value="{{ form.username }}" />

      <div class="form-row">
        <div class="form-group col-md-4">
            <label><span class="red-asterisk">*</span> Institution</label>
            {{ form.institution|add_class:'form-control' }}
        </div>
        <div class="form-group col-md-2.5">
            <label><span class="red-asterisk">*</span> Country</label>
            {{ form.country|add_class:'form-control' }}
        </div>
        <div class="form-group col-md-2.5">
            <label>State</label>
            {{ form.state|add_class:'form-control' }}
        </div>
        <div class="form-group col-md-2.5">
            <label>City</label>
            {{ form.city|add_class:'form-control' }}
        </div>
      </div>

      <div class="form-row">
          <div class="form-group col-md-6">
              <label><span class="red-asterisk">*</span> Research Areas</label>&nbsp;&nbsp; &nbsp;
              <span class="badge badge-info">REQUIRED 1. MAX 3.</span>
              {{ form.researchAreas|add_class:'form-control' }}
          </div>
      </div>


      <div class="form-row">
          <div class="form-group col-md-6" id="item-research_areas">
            <label><span class="red-asterisk">*</span> Additional Research Areas</label>&nbsp; &nbsp;<a href="#" class="add-research_areas btn btn-success btn-sm"><i class="fas fa-plus"></i> Add</a><span class="badge badge-info">REQUIRED 1. MAX 3.</span>
            {{ formset.management_form }}
            {% for rform in formset %}
                {{ rform.management_form }}
                <div class="form-row">
                    {% for field in rform.visible_fields %}
                      {% if field.name != 'DELETE' %}
                          <div class="form-group">
                              {{ field|add_class:'form-control ra' }} 
                          </div>
                      {% endif %}
                    {% endfor %}
                    
                    <div class="form-group">
                        <button class="btn btn-sm btn-warning ra_reset" type="button" style="color: brown;">Reset</button>
                    </div>    
                 
                </div>
            {% endfor %}    
          </div>
      </div>    

      <button type="submit" class="btn btn-outline-primary" id="submit-btn" hx-select-oob="#submit-btn">REGISTER</button>

    </form>
  </div>
</div>
</div>


<script>
  $("#id_researchAreas").select2({
    maximumSelectionLength: 3, 
});
</script>  

<script>
  $(document).ready(function () {
    // when user clicks add more btn of variants
    $(".add-research_areas").click(function (ev) {
      ev.preventDefault();
      var formPrefix = "research_areas";
      var tmplMarkup = `
            <div class="form-row">
              {% for field in formset.empty_form.visible_fields %}
                  {% if field.name != 'DELETE' %}
                      <div class="form-row form-group align-items-center">
                          <div class="col-auto">
                              {% render_field field class="form-control ra" %}
                          </div>
                          <div class="col-auto">
                              <button class="btn btn-sm btn-warning ra_reset" type="button" style="color: brown;">Reset</button>
                          </div>
                      </div>
                  {% endif %}
              {% endfor %}
            </div>
        `;
      var tmplMarkupWithValues = tmplMarkup;
      var formCountInput = $("#id_" + formPrefix + "-TOTAL_FORMS");
      var formCount = parseInt(formCountInput.val());

      // update form count
      formCount += 1;
      formCountInput.val(formCount);

      // add 'required' attribute to dynamically added form fields
      tmplMarkupWithValues = tmplMarkupWithValues.replace(
        /__prefix__/g,
        formCount - 1
      );
      tmplMarkupWithValues = tmplMarkupWithValues.replace(
        /research_areas-__prefix__/g,
        "research_areas-" + (formCount - 1)
      );

      $("#item-research_areas").append(tmplMarkupWithValues);
    });


    $("#user_form").submit(function (event) {
      var minForms = 1; 
      var maxForms = 3; 

      var filledForms = 0;
      $(".ra").each(function () {
          var isEmpty = true;
              if ($(this).val() !== "") {
                  isEmpty = false;
              }
          if (!isEmpty) {
              filledForms++;
          }
      });
      if (filledForms < minForms) {
          alert("You must fill a minimum of " + minForms + " Additional Research Area.");   // Display an error message
          event.preventDefault(); // Prevent form submission
      }
      else if (filledForms > maxForms) {
          alert("You can fill a maximum of only " + maxForms + " Research Areas.");
          event.preventDefault(); 
      }
  });

  });

   // Reset button click event
   $(document).on('click', '.ra_reset', function() {
    var formRow = $(this).closest('.form-row');
    formRow.find('.ra').val(''); // Reset input field(s) with class 'ra'
  });
</script>

{% endblock %}