{% extends 'base.html' %}

{% block content %} 
<style>
  /* Custom CSS for the Reset Password Page */

/* Center the form on the page */
.container {
 /* background-color: #0056b3; */
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

/* Add some padding to the form */
.form-container {
  padding: 20px;
  /* max-width: 400px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Style the form inputs */
.form-control {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* width: 100%; */
  transition: border-color 0.2s ease-in-out;
}

.form-control:focus {
  outline: none;
  border-color: #80bdff;
}

/* Style the submit button */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Optional: Style the navbar */


/* Optional: Style the page heading */
h1 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.red-asterisk {
  color: red;
}
  
.button{
    background-color: #d2d2d2;
    width: 40px;
    height: 20px;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}
.button::before{
    position: absolute;
    content: '';
    background-color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 40px;
    margin: 1px;
    transition: 0.2s;
}
input:checked + .button{
    background-color: #20096d;
}
input:checked + .button::before{
    transform: translateX(20px);
}
#check{
    display: none;
}

#rp {
  background-color: #555;
}

</style>  

  <div class="container mt-4">
    {% if changed %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="max-width: 500px; border: 1px solid red;">
          <i class="fas fa-star"></i> <strong>Success!</strong> Your Password has been changed!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% elif changed == False %}    
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="max-width: 500px; border: 1px solid red;">
        <i class="fa-solid fa-circle-exclamation"></i> <strong>Try Again!</strong> Passwords do not match!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}  
    <form action="{% url 'reset_password' %}" method="post">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-4 ">
          <label for="id_password"><span class="red-asterisk">*</span> Password</label>
          <input type="password" name="password" class="form-control" placeholder="Set new password" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="id_confirm_password"><span class="red-asterisk">*</span> Confirm Password</label>
          <input type="password" name="confirm_password" class="form-control" placeholder="Confirm new password" required>
        </div>
      </div>

      <div class="form-row">
        <input type="checkbox" id="check"  onclick="myFunction()">
        <label for="check" class="button"></label>
      </div>  
      <br/>
    
      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
  </div>
  
<script>
  function myFunction() {
    var elements = document.getElementsByClassName("form-control");
    for (var i = 0; i < elements.length; i++) {
        if (elements[i].type === "password") {
            elements[i].type = "text";
        } else {
            elements[i].type = "password";
        }
    }
}
</script>
{% endblock %}
