{% extends 'base.html' %}

{% block content %} 
<style>
  /* Custom CSS for the Reset Password Page */

/* Center the form on the page */
.container {
 /* background-color: #0056b3; */
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

/* Add some padding to the form */
.form-container {
  padding: 20px;
  /* max-width: 400px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Style the form inputs */
.form-control {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* width: 100%; */
  transition: border-color 0.2s ease-in-out;
}

.form-control:focus {
  outline: none;
  border-color: #80bdff;
}

/* Style the submit button */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Optional: Style the navbar */


/* Optional: Style the page heading */
h1 {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

</style>
  <div class="container mt-4">
    <form action="{% url 'reset_password' %}" method="post">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="id_password">Password</label>
          <input type="password" name="password" class="form-control" placeholder="Set new password" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="id_confirm_password">Confirm Password</label>
          <input type="password" name="confirm_password" class="form-control" placeholder="Confirm new password" required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
  </div>
  
{% endblock %}
