{% extends 'base.html' %}

{% block content %}

<style>
    .list-group-item {
      background-color: transparent; /* To remove default background */
      padding: 0px; /* Add padding to create a clickable area */
  }
  
  .list-link {
      display: block;
      padding: 10px 15px; /* Add padding to create a clickable area */
      text-decoration: none; /* Remove underline */
      transition: color 0.3s; /* Smooth color transition on hover */
  }
  
  .list-link:hover {
      cursor: pointer;
      text-decoration: none;
      background-color: #d3d3d3;
      color: #808080; /* Change color on hover */
  }
  
  .selected {
      background-color: #d3d3d3;
      padding: 10px 15px;
  }

  #rev {
    background-color: #555;
  }

  select {
    appearance: none; /* Remove default styles */
    background-color: #f0f0f0; /* Background color */
    border: 1px solid #ccc; /* Border color */
    padding: 3px; /* Padding */
    width: 150px; /* Width of the select box */
    border-radius: 4px; /* Rounded corners */
  }

  a{
    text-decoration: none;
  }
</style>  
  

{% comment %} <li class="list-group-item">
    <a href="{% url 'submit_paper_step1' paper.id %}" class="list-link form-next-link d-flex justify-content-between align-items-center" next="step1">
      <div class="d-flex align-items-center">
        {% if paper.type and paper.title and paper.abstract %}
              <i class="fas fa-check green-check"></i>&nbsp;
          {% else %}
              &nbsp;&nbsp;&nbsp;&nbsp;    
          {% endif %}
          <span>Step 1: Type, Title, & Abstract</span>
      </div>
      <i class="fas fa-angle-right"></i>
    </a>
  </li>
 {% endcomment %}


    <div class="row" style="margin-top:30px;">
        <div class="col-md-4">
            <div class="card" style="width: 18rem; margin-left: 50px; margin-top: 45px;">
                <div class="card-header">
                  <h5 class="text-secondary">&nbsp;&nbsp;Reviewer Dashboard</h5>
                </div>
                <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <a href="{% url 'rev_invitations' %}" class="list-link d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center" style="margin-left: 15px;">
                                Invitations
                          </div>
                          <i class="fas fa-angle-right"></i>
                        </a>  
                      </li>
                      <li class="list-group-item selected text-secondary">
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="d-flex align-items-center" style="margin-left: 15px;">
                                  Active Reviews
                              </div>
                              <i class="fas fa-angle-right"></i>
                          </div>
                      </li>
                      <li class="list-group-item">
                        <a href="{% url 'submitted_reviews' %}" class="list-link d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center" style="margin-left: 15px;">
                                Submitted Reviews
                            </div>
                            <i class="fas fa-angle-right"></i>
                        </a>  
                      </li>
                </ul>
            </div>
        </div>
  
  
      <div class="col-md-8">
        <h2>Active Reviews</h2>
    
            <table class="table table-striped table-bordered" style="width: 900px;">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">CONTINUE</th>
                        <th scope="col">DUE DATE</th>
                        <th scope="col">TYPE</th>
                        <th scope="col">ID/TITLE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for review in reviews %}
                        <tr>
                            <td>
                                <a href="{% url 'review' review.id %}">Continue</a>                          
                            </td>
                            <td>
                                {{ review.due_date|date }}
                            </td>    
                            <td>
                                {{ review.paper_reviewer.paper.type }}
                            </td>
                            <td>
                                {{ review.paper_reviewer.paper.journal_id }}<br/>
                                {{ review.paper_reviewer.paper.title }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

      </div>
  </div>
  

{% endblock %}