{% extends 'base.html' %}

{% block content %}

<style>
    .list-group-item {
      background-color: transparent; /* To remove default background */
      padding: 0px; /* Add padding to create a clickable area */
  }
  
  .list-link {
      display: block;
      padding: 10px 15px; /* Add padding to create a clickable area */
      text-decoration: none; /* Remove underline */
      color: #333; /* Default color */
      transition: color 0.3s; /* Smooth color transition on hover */
  }
  
  .list-link:hover {
      cursor: pointer;
      text-decoration: none;
      background-color: #d3d3d3;
      color: #808080; /* Change color on hover */
  }
  
  .selected {
      background-color: #d3d3d3;
      padding: 10px 15px;
  }

  #rev {
    background-color: #555;
  }

  select {
    appearance: none; /* Remove default styles */
    background-color: #f0f0f0; /* Background color */
    border: 1px solid #ccc; /* Border color */
    padding: 3px; /* Padding */
    width: 150px; /* Width of the select box */
    border-radius: 4px; /* Rounded corners */
  }
</style>  
  
    <h2 class="text-center">Invitations</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem; margin-left: 50px;">
                <div class="card-header">
                  <h5 class="text-secondary">&nbsp;&nbsp;Reviewer Dashboard</h5>
                </div>
                <ul class="list-group list-group-flush">
                      <li class="list-group-item selected text-secondary">
                        <div class="d-flex justify-content-between align-items-center">
                              <div class="d-flex align-items-center" style="margin-left: 15px;">
                                  Invitations
                              </div>
                              <i class="fas fa-angle-right"></i>
                          </div>
                      </li>

                      <li class="list-group-item">
                        <a href="{% url 'active_reviews' %}" class="list-link d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center" style="margin-left: 15px;">
                                Active Reviews
                            </div>
                            <i class="fas fa-angle-right"></i>
                        </a>  
                      </li>

                      <li class="list-group-item">
                        <a href="{% url 'submitted_reviews' %}" class="list-link d-flex justify-content-between align-items-center">
                              <div class="d-flex align-items-center" style="margin-left: 15px;">
                                  Submitted Reviews
                              </div>
                              <i class="fas fa-angle-right"></i>
                        </a>  
                      </li>
                </ul>
            </div>
        </div>
  
  
        <div class="col-md-8">
            {% if paper_reviewers %}
    
                <table class="table table-striped table-bordered" style="width: 900px;">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">ACTION</th>
                            <th scope="col">SENT</th>
                            <th scope="col">TYPE</th>
                            <th scope="col">ID/TITLE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for paper_reviewer in paper_reviewers %}
                            <tr>
                                <td>
                                    <select id="reviewOptions" onchange="redirectToURL()">
                                        <option selected disabled>Select...</option>
                                        <option value="{% url 'review' paper_reviewer.paper.id %}">Agreed and Begin Review</option>
                                        <option data-toggle="modal" data-target="#DeclineInvitation{{ paper_reviewer.id }}">Declined</option>
                                    </select>                                
                                </td>
                                <td>
                                    {{ paper_reviewer.invite_sent_date }}
                                </td>    
                                <td>
                                    {{ paper_reviewer.paper.type }}
                                </td>
                                <td>
                                    {{ paper_reviewer.paper.journal_id }}<br/>
                                    {{ paper_reviewer.paper.title }}
                                </td>
                            </tr>

                            <!-- Modal -->
                            <div class="modal fade" id="DeclineInvitation{{ paper_reviewer.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Are you sure you want to Decline the Invitation?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-angle-left"></i>&nbsp;No</button>
                                        <a href="{% url 'decline_to_review' paper_reviewer.id %}" type="button" class="btn btn-primary"><i class="fas fa-check"></i>&nbsp;Yes, Decline</a>
                                    </div>  
                                </div>
                                </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>

            {% endif %}
        </div>

  </div>
  
  <script>
    function redirectToURL() {
        var selectedValue = document.getElementById("reviewOptions").value;
        window.location.href = selectedValue;
    }
</script>
{% endblock %}