{% extends 'base.html' %}

{% load custom_filters %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<style>
  #my-great-dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
  }

  #my-great-dropzone .dz-preview .dz-progress {
    opacity: 0;
  }

  .error-box {
    border: 2px solid red;
    background-color: lightcoral;
    color: darkred;
    padding: 10px;
    width: 650px;
}

  .hidden {
    display: none;
  }

  #rev {
    background-color: #555;
  }

  ul li a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  ul li a:hover {
    background-color: Thistle;
  }

  .selected {
    background-color: Thistle;
    color: DarkMagenta;
  }

  ul li {
    margin-right: 20px;
  }

</style>


<script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
<link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />

<h2 class="text-secondary" style="margin-left: 75px;">Review {{ paper.journal_id }}</h2>
<div class="row">
  <div class="col-md-6">
      <div class="card text-center" id="info" style="margin-left: 75px; height: 910px">
        {% include 'partials/paper/view_proof.html' %}
      </div>
  </div>
  
  <div class="col-md-6">
    <div style="margin-right: 100px;">
        <div class="alert alert-primary" role="alert" style="height: 50px;">
          <div style="float: left"><i class="fa-regular fa-calendar"></i> Due {{ review.due_date|date }}</div>
          <div style="float: right"><i class="fa-regular fa-envelope"></i> <a href="mailto:{{ paper.associate_editor.email }}">Contact Journal</a></div>
        </div>

        <div id="success" class="alert alert-warning alert-dismissible fade show hidden" role="alert" style="border: 1px solid red;">
          <i class="fas fa-star"></i> <strong>Success!</strong> Your work has been saved!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>

        <div id="review-form">
          {% include 'partials/review_form.html' %}
        </div>
        
          <b>Attach Files</b>

          <div id="review-files">
            {% include "partials/review_files.html" %}
          </div>

          <br/><br/>
          <hr/>

            <div style="display: inline-block; float: left;">
              <a href="{% url 'active_reviews' %}" class="btn btn-dark btn-sm"><i class="fas fa-angle-left"></i>&nbsp;Back</a>
            </div>
            <div style="display: inline-block; float: right;">    
                <button class="showElementButton save-review btn btn-dark btn-sm mb-3"><i class="fa-solid fa-floppy-disk"></i> Save Draft</button>
                <button id='show_submit_review_modal' class="showElementButton save-review btn btn-dark btn-sm mb-3" data-dismiss="modal">Submit Review&nbsp;<i class="fas fa-angle-right"></i></button>
            </div>
        </div>
      </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="SubmitReview" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><i class="fa-solid fa-triangle-exclamation" style="color: red;"></i>&nbsp;Submit Review?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you ready to submit this Review?
        </div>  
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-angle-left"></i>&nbsp;No, Go Back</button>
          <a href="{% url 'submit_review' paper.id %}" type="button" class="btn btn-primary">Yes, Submit Review&nbsp;<i class="fas fa-angle-right"></i></a>
        </div>   
      </div>
    </div>
  </div>

      <script>
        /*
        var form = document.getElementById('myForm');

        // Get a unique identifier for the current object (you can replace this with your actual object identifier logic)
        var objectId = {{ review.id }}; // Replace this with the unique identifier for the current object
        var buttons = document.querySelectorAll('.showElementButton');
        buttons.forEach(function(button) {
          // Check if the element should be displayed permanently for this object from localStorage
          if (localStorage.getItem('elementVisible-' + objectId) === 'true') {
            document.getElementById('permanentElement').classList.remove('hidden');
          }
      
          // Add click event listener to the button
          button.addEventListener('click', function() {
            // Show the element
            document.getElementById('permanentElement').classList.remove('hidden');
      
            // Save the state to localStorage for this specific object
            localStorage.setItem('elementVisible-' + objectId, 'true');
          });
        });
        */

        // Scroll to the top of the page
        function scrollToTop() {
          window.scrollTo({
              top: 0,
              behavior: 'smooth' // for smooth scrolling, use 'auto' for instant scrolling
          });
        }

        var saveBtns = document.getElementsByClassName("save-review");
        var showSubmitReviewModalButton = document.getElementById("show_submit_review_modal");
        for (var i = 0; i < saveBtns.length; i++) {
            saveBtns[i].addEventListener('click', function() {
                document.getElementById("submit-review-hidden").click();
                document.getElementById('success').classList.remove('hidden');
                scrollToTop();
            });
        }

        {% comment %} showSubmitReviewModalButton.addEventListener('click', function() {
            document.addEventListener('htmx:afterSwap', function (event) {
                if ($('.error-box').is(':visible') || document.getElementById('permanentElement').classList.contains('hidden')) {
                  // Error box is visible, do nothing
                } else {
                    // Error box is not visible, execute your JavaScript code
                    $('#SubmitReview').modal('show');
                }
            });
        });  {% endcomment %}
              

        var showSubmitReviewModalButton = document.getElementById("show_submit_review_modal");

        function showReviewModal() {
          if ($('.error-box').is(':visible') || document.getElementById('permanentElement').classList.contains('hidden')) {
            // Error box is visible, do nothing
          } else {
              // Error box is not visible, execute your JavaScript code
              $('#SubmitReview').modal('show');
          }
          //document.removeEventListener('htmx:afterSwap', afterSwapHandler);
        }

        function afterSwapHandler(event) {
            // Handle htmx:afterSwap event here
            showReviewModal();
        }

        showSubmitReviewModalButton.addEventListener('click', function() {
            // Add the htmx:afterSwap event listener
            document.addEventListener('htmx:afterSwap', afterSwapHandler);
        });

        // Optionally, you can also remove the htmx:afterSwap event listener when the modal is closed
        $('#SubmitReview').on('hidden.bs.modal', function () {
          document.removeEventListener('htmx:afterSwap', afterSwapHandler);
        });
              

</script>



{% comment %} 
<script>
   // Function to get the value of a selected radio button
    function getSelectedRadioButtonValue(radioButtonName) {
        var radioButtons = document.getElementsByName(radioButtonName);

        for (var i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {
                return radioButtons[i].value;
            }
        }

        return null;
    }

    var anythingToBeDeletedRadios = document.getElementsByName('anything_to_be_deleted');

    for (var i = 0; i < anythingToBeDeletedRadios.length; i++) {
      anythingToBeDeletedRadios[i].addEventListener('change', function() {
          var anythingToBeDeletedValue = getSelectedRadioButtonValue('anything_to_be_deleted');
          
          if (anythingToBeDeletedValue === 'Yes') {
            asterisk = document.getElementById("asterisk");
            asterisk.style.visibility = "visible";
          } else if (anythingToBeDeletedValue === 'No') {
            asterisk = document.getElementById("asterisk");
            asterisk.style.visibility = "hidden";
          } 
      });
    }
  
    var btn = document.getElementById("show_submit_review_modal");
    btn.addEventListener('click', function() {
        // Function to check if a radio button is selected
        function isRadioButtonSelected(radioButtonName) {
            var radioButtons = document.getElementsByName(radioButtonName);
    
            for (var i = 0; i < radioButtons.length; i++) {
                if (radioButtons[i].checked) {
                    return true;
                }
            }
    
            return false;
        }

     
      
      // Check if the following fields have an option selected
      var isInnovativeSelected = isRadioButtonSelected('is_innovative');
      var ratingSelected = isRadioButtonSelected('rating');
      var anythingToBeDeletedSelected = isRadioButtonSelected('anything_to_be_deleted');
      var interestToEngineersSelected = isRadioButtonSelected('interest_to_engineers');
      var recommendation = isRadioButtonSelected('recommendation');

      if (!isInnovativeSelected && !ratingSelected && !anythingToBeDeletedSelected && !interestToEngineersSelected && !recommendation ) {
          alert('Please select an option for "Will you review a revised version?"');
      }
  });
  </script> {% endcomment %}
  
    {% endblock %}