{% extends 'base.html' %}

{% load custom_filters %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<style>
  #my-great-dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
  }

  #my-great-dropzone .dz-preview .dz-progress {
    opacity: 0;
  }
</style>




<script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
<link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />

<h2 class="text-secondary" style="margin-left: 75px;">Review {{ paper.journal_id }}</h2>
<div class="row">
  <div class="col-md-6">
      <div class="card text-center" style="margin-left: 75px;">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#">Proof</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Files</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Instructions</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <p class="card-text">
            Text
          </p>
        </div>
      </div>
  </div>
  
  <div class="col-md-6">
    <div style="margin-right: 100px;">
        <div class="alert alert-primary" role="alert" style="height: 50px;">
          <div style="float: left"><i class="fa-regular fa-calendar"></i> Due 1 Jan 2024</div>
          <div style="float: right"><i class="fa-regular fa-envelope"></i> <a href="mailto:{{ paper.associate_editor.email }}">Contact Journal</a></div>
        </div>
        <form action="{% url 'review' paper.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <b>Reviewer recommendation for paper type</b>
            {{ form.paper_type }}<br/>
            <b>Should this paper be considered for a best paper award?</b>
            {{ form.has_best_paper_award_potential }}<br/>
            <b><span style="color: red;">*</span> Does the paper present innovative ideas or material?</b>
            {{ form.is_innovative }}<br/>
            <b><span style="color: red;">*</span> Rate the paper on its contribution to the body of knowledge to this field(none=1, very important=5)</b><br/>
            {% for choice in form.rating %}
              <span style="margin-right: 50px;">{{ choice }}</span>
            {% endfor %}<br/><br/>
            <b><span style="color: red;">*</span> Should anything be deleted from or condensed in the paper?</b>
            {{ form.anything_to_be_deleted }}
            <b>If so, please explain</b>
            {{ form.what_should_be_deleted|add_class:'form-control' }}<br/><br/> 
            <b>What amount of copy editing do you think the paper needs?</b>
            {{ form.amt_of_copy_editing }}<br/>
            <b><span style="color: red;">*</span> Is this paper of potential interest to developers and engineers?</b>
            {{ form.interest_to_engineers }}<br/> 
            <b>Would you be willing to review a revision of this manuscript?</b>
            {{ form.will_review_revised_version }}<br/> 
            <b><span style="color: red;">*</span> Recommendation</b>
            {{ form.recommendation }}<br/>
            <b>Confidential Comments to Editor</b>
            {{ form.comments_to_editor|add_class:'form-control' }}<br/><br/> 
            <b>Comments to Author</b>
            {{ form.comments_to_author|add_class:'form-control' }}<br/><br/>

            <hr/>

            <div style="display: inline-block; float: left;">
              <a href="{% url 'active_reviews' %}" class="btn btn-dark btn-sm"><i class="fas fa-angle-left"></i>&nbsp;Back</a>
            </div>
            <div style="display: inline-block; float: right;">    
                <button type="submit" name="save_draft" class="btn btn-dark btn-sm mb-3"><i class="fa-solid fa-floppy-disk"></i> Save Draft</button>
                <button type="submit" name="submit_review" class="btn btn-dark btn-sm mb-3">Submit Review&nbsp;<i class="fas fa-angle-right"></i></button>
            </div>
          </form>  

          {% comment %} <form action="{% url 'upload_rev_file' %}" style="display:none;">
            <input type='file' name="rev_file" id='file-input' />
            <button type='submit' id='file-input-btn'></button>
          </form> {% endcomment %}

 

          <br/><br/><br/><br/>
          <b>Attach Files</b>

          <form action="/target" class="dropzone" id="my-great-dropzone"> {% csrf_token %}</form>

          <form hx-post="{% url 'upload_rev_file' review.id %}" hx-target="#rev_files" hx-encoding="multipart/form-data" style="display: none;">
            {% csrf_token %}
            <input type="file" name="rev_file" id="file-input" />
            <button type='submit' id='file-input-btn'></button>
          </form>
        <br/>
          <div id="rev_files">
            {% include "partials/rev_files.html" %}
          </div>

        </div>
      </div>

          <script>
            var dropzone = new Dropzone('#my-great-dropzone', {
              autoProcessQueue: false,
            });


            dropzone.on("addedfile", file => {
              var inputFile = document.getElementById("file-input");
              
              const dataTransfer = new DataTransfer();
              dataTransfer.items.add(file);
              inputFile.files = dataTransfer.files;
              
              var inputFileButton = document.getElementById("file-input-btn");
              inputFileButton.click();  
            });
              
          </script>


          {% endblock %}