{% extends 'base.html' %}

{% load custom_filters %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<div class="card " style="width: 45rem; margin-left: 20rem">
  <div class="card-body">
    <h5 class="card-title">{{ paper.title }}</h5>
    <p class="card-text">{{ paper.abstract }}</p>
    <p class="card-text">
      <b>Keywords:</b><br/>
      {% for keyword in paper.keywords.all %}
        {{ keyword }}{% if not forloop.last %}, {% endif %} 
      {% endfor %} 
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <b>Authors:</b><br/>
      {% for author in paper.authors.all %}
        {{ author }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </li>
    <li class="list-group-item">
      {% if paper.file %}
        <a href='{{ paper.file.url }}'>{{ paper|basename }}</a>  
      {% endif %}  
    </li>
  </ul>
    <div class="card-body">
      {% if not review.is_submitted %}
        <form action="{% url 'review' paper.id %}" method="post">
            {% csrf_token %}
            
            <p>Reviewer recommendation for paper type</p>
            {{ form.paper_type }}<br/>
            <p>Should this paper be considered for a best paper award?</p>
            {{ form.has_best_paper_award_potential }}<br/>
            <p>*Does the paper present innovative ideas or material?</p>
            {{ form.is_innovative }}<br/>
            <p>*Rate the paper on its contribution to the body of knowledge to this field(none=1, very important=5)</p>
            {{ form.rating }}<br/>
            <p>*Should anything be deleted from or condensed in the paper?</p>
            {{ form.anything_to_be_deleted }}
            <p>If so, please explain</p>
            {{ form.what_should_be_deleted }}<br/><br/> 
            <p>What amount of copy editing do you think the paper needs?</p>
            {{ form.amt_of_copy_editing }}<br/>
            <p>*Is this paper of potential interest to developers and engineers?</p>
            {{ form.interest_to_engineers }}<br/> 
            <p>Would you be willing to review a revision of this manuscript?</p>
            {{ form.will_review_revised_version }}<br/> 
            <p>*Recommendation</p>
            {{ form.recommendation }}<br/>
            <p>Comments to Editor</p>
            {{ form.comments_to_editor }}<br/><br/> 
            <p>Comments to Author</p>
            {{ form.comments_to_author }}<br/><br/>
            
            <a href="{% url 'myAccount' %}" class="btn btn-outline-secondary mb-3"><i class="fas fa-angle-left"></i> Back</a>

            <button type="submit" name="save_draft" class="btn btn-dark mb-3">Save Draft</button>
            <button type="submit" name="submit_review" class="btn btn-dark mb-3">Submit</button>
          
            {% if review %}
              <a href="{% url 'delete_review' paper.id %}" class="btn btn-outline-danger mb-3" onclick="return confirm('Are you sure you want to delete this review?')"></i> Delete</a>
            {% endif %}
          </form>  

      {% else %}

        <h4>Your Review:</h4>

        <b>Reviewer recommendation for paper type</b><br/>
        {{ review.paper_type }}<br/><br/>
        <b>Should this paper be considered for a best paper award?</b><br/>
        {{ review.has_best_paper_award_potential }}<br/><br/>
        <b>Does the paper present innovative ideas or material?</b><br/>
        {{ review.is_innovative }}<br/><br/>
        <b>Rate the paper on its contribution to the body of knowledge to this field(none=1, very important=5)</b><br/>
        {{ review.rating }}<br/><br/>
        <b>Should anything be deleted from or condensed in the paper?</b><br/>
        {{ review.anything_to_be_deleted }}<br/>
        <b>If so, please explain</b><br/>
        {{ review.what_should_be_deleted }}<br/><br/> 
        <b>What amount of copy editing do you think the paper needs?</b><br/>
        {{ review.amt_of_copy_editing }}<br/><br/>
        <b>Is this paper of potential interest to developers and engineers?</b><br/>
        {{ review.interest_to_engineers }}<br/><br/> 
        <b>Would you be willing to review a revision of this manuscript?</b><br/>
        {{ review.will_review_revised_version }}<br/><br/>
        <b>Recommendation</b><br/>
        {{ review.recommendation }}<br/><br/>
        <b>Comments to Editor</b><br/>
        {{ review.comments_to_editor }}<br/><br/> 
        <b>Comments to Author</b><br/>
        {{ review.comments_to_author }}<br/><br/>

        <a href="{% url 'myAccount' %}" class="btn btn-outline-secondary mb-3"><i class="fas fa-angle-left"></i> Back</a>
    
      {% endif %}  
    </div>
</div>

{% comment %} <embed src="{{ paper.file.url }}" width="500px" height="375px" type="application/pdf"> {% endcomment %}
{% comment %} <iframe src="C:/Users/dhruv/OneDrive/Desktop/Conferva2/Conferva/media/conference/papers/Dropout.pdf" style="width:718px; height:700px;" frameborder="0"></iframe> {% endcomment %}
{% comment %} <embed src="Conferva/media/conference/papers/Dropout.pdf" width="500px" height="375px" type="application/pdf"> {% endcomment %}
{% comment %} <embed
    src="{% static 'paper.file.url' %}" 
    type="application/pdf"
    frameBorder="0"
    scrolling="auto"
    height="100%"
    width="100%"
></embed> {% endcomment %}
{% comment %} <embed src="{{ Dropout.pdf }}" width="1000" height="800" frameborder="0" allowfullscreen> {% endcomment %}
{% comment %} <iframe src="Dropout.pdf" style="width:1000px; height:800px;" frameborder="0" allowfullscreen></iframe> {% endcomment %}
{% comment %} <iframe
    src="{{ paper.file.url }}"
    frameBorder="0"
    scrolling="auto"
    height="100%"
    width="100%"
></iframe> {% endcomment %}

{% endblock %}  

