{% extends 'base.html' %}
{% block content %}

<style>
  .list-group-item {
    background-color: transparent; /* To remove default background */
    padding: 0; /* To remove default padding */
}

.list-link {
    display: block;
    padding: 10px 15px; /* Add padding to create a clickable area */
    text-decoration: none; /* Remove underline */
    color: #333; /* Default color */
    transition: color 0.3s; /* Smooth color transition on hover */
}

.list-link:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #d3d3d3;
    color: #808080; /* Change color on hover */
}

.selected {
    background-color: #d3d3d3;
    padding: 10px 15px; /* Add padding to create a clickable area */
}

#au {
    background-color: #555;
  }
  
</style>  

    <h2 class="text-center">Start New Submission</h2>

    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem; margin-left: 50px;">
            <div class="card-header">
              <h5 class="text-secondary">&nbsp;&nbsp;Author Dashboard</h5>
            </div>
            <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <a href="{% url 'unsubmitted_manuscripts' %}" class="list-link d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-center" style="margin-left: 15px;">
                          Unsubmitted Manuscripts in Draft
                      </div>
                      <i class="fas fa-angle-right"></i>
                      </a>  
                  </li>
                  <li class="list-group-item">
                        <a href="{% url 'submitted_manuscripts' %}" class="list-link d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center" style="margin-left: 15px;">
                                Submitted Manuscripts
                            </div>
                            <i class="fas fa-angle-right"></i>
                        </a>  
                  </li>
                  <li class="list-group-item">
                      <a href="{% url 'coAuthored_manuscripts' %}" class="list-link d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-center" style="margin-left: 15px;">
                          Manuscripts I have Co-Authored
                      </div>
                      <i class="fas fa-angle-right"></i>
                      </a>  
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'manuscripts_with_decision' %}" class="list-link d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center" style="margin-left: 15px;">
                            Manuscripts with Decision
                        </div>
                        <i class="fas fa-angle-right"></i>
                    </a>  
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'revised_manuscripts' %}" class="list-link d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center" style="margin-left: 15px;">
                            Revised Manuscripts in Draft
                        </div>
                        <i class="fas fa-angle-right"></i>
                    </a>  
                  </li>
                  <li class="list-group-item selected text-secondary">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center" style="margin-left: 15px;">
                                Start New Submission
                            </div>
                            <i class="fas fa-angle-right"></i>
                        </div>  
                  </li>
            </ul>
        </div>
    </div>

  
  
      <div class="col-md-8">
        <b style="color: #54626F;">Please make sure to upload your revised paper as a REVISION and not a NEW SUBMISSION. Do not start a new submission for revised papers.</b><br/><br/>
        <a href="{% url 'create_paper' %}">
            <button type="button" class="btn btn-dark mb-3">Begin Submission</button>
        </a>
      </div>
  </div>
  

{% endblock %}