{% extends 'base.html' %}
{% block content %}

<style>
  .list-group-item {
    background-color: transparent; /* To remove default background */
    padding: 0; /* To remove default padding */
}

.list-link {
    display: block;
    padding: 10px 15px; /* Add padding to create a clickable area */
    text-decoration: none; /* Remove underline */
    color: #333; /* Default color */
    transition: color 0.3s; /* Smooth color transition on hover */
}

.list-link:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #d3d3d3;
    color: #808080; /* Change color on hover */
}

.selected {
    background-color: #d3d3d3;
    padding: 10px 15px; /* Add padding to create a clickable area */
}
</style>  

    <h2 class="text-center">Start New Submission</h2>

    <div class="row">
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
              <div class="card-header">
                <b>Author Dashboard</b> 
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="{% url 'unsubmitted_manuscripts' %}" class="list-link">Unsubmitted Manuscripts in Draft</a></li>
                  <li class="list-group-item"><a href="{% url 'submitted_manuscripts' %}" class="list-link">Submitted Manuscripts</a></li>
                  <li class="list-group-item"><a href="{% url 'coAuthored_manuscripts' %}" class="list-link">Manuscripts I have Co-Authored</a></li>
                  <li class="list-group-item selected"><b>Start New Submission</b></li>
                  <li class="list-group-item"><a href="#" class="list-link">5 Most Recent E-mails</a></li>
              </ul>
          </div>
      </div>
  
      <div class="col-md-8">
        <b style="color: #54626F;">Please make sure to upload your revised paper as a REVISION and not a NEW SUBMISSION. Do not start a new submission for revised papers.</b><br/><br/>
        <a href="{% url 'submit_paper_step0' %}">
            <button type="button" class="btn btn-dark mb-3">Begin Submission</button>
        </a>
      </div>
  </div>
  

{% endblock %}