{% extends 'base.html' %}

{% block content %}

<style>
    .list-group-item {
      background-color: transparent; /* To remove default background */
      padding: 0; /* To remove default padding */
  }
  
  .list-link {
      display: block;
      padding: 10px 15px; /* Add padding to create a clickable area */
      text-decoration: none; /* Remove underline */
      transition: color 0.3s; /* Smooth color transition on hover */
  }
  
  .list-link:hover {
      cursor: pointer;
      text-decoration: none;
      background-color: #d3d3d3;
      color: #808080; /* Change color on hover */
  }
  
  .selected {
      background-color: #d3d3d3;
      padding: 10px 15px; /* Add padding to create a clickable area */
  }

  #au {
    background-color: #555;
  }
  </style>  
  

    <div class="row" style="margin-top:30px;">
      <div class="col-md-4">
        <div class="card" style="width: 18rem; margin-left: 50px; margin-top: 45px;">
            <div class="card-header">
              <h5 class="text-secondary">&nbsp;&nbsp;Author Dashboard</h5>
            </div>
            <ul class="list-group list-group-flush">
                  <li class="list-group-item selected text-secondary">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center" style="margin-left: 15px;">
                                Unsubmitted Manuscripts in Draft
                            </div>
                            <i class="fas fa-angle-right"></i>
                        </div>  
                  </li>
                  <li class="list-group-item">
                        <a href="{% url 'submitted_manuscripts' %}" class="list-link d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center" style="margin-left: 15px;">
                                Submitted Manuscripts
                            </div>
                            <i class="fas fa-angle-right"></i>
                        </a>  
                  </li>
                  <li class="list-group-item">
                      <a href="{% url 'coAuthored_manuscripts' %}" class="list-link d-flex justify-content-between align-items-center">
                      <div class="d-flex align-items-center" style="margin-left: 15px;">
                          Manuscripts I have Co-Authored
                      </div>
                      <i class="fas fa-angle-right"></i>
                      </a>  
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'manuscripts_with_decision' %}" class="list-link d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center" style="margin-left: 15px;">
                            Manuscripts with Decision
                        </div>
                        <i class="fas fa-angle-right"></i>
                    </a>  
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'revised_manuscripts' %}" class="list-link d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center" style="margin-left: 15px;">
                            Revised Manuscripts in Draft
                        </div>
                        <i class="fas fa-angle-right"></i>
                    </a>  
                  </li>
                  <li class="list-group-item">
                    <a href="{% url 'start_new_submission' %}" class="list-link d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center" style="margin-left: 15px;">
                            Start New Submission
                        </div>
                        <i class="fas fa-angle-right"></i>
                    </a>  
                  </li>
            </ul>
        </div>
      </div>
  
      <div class="col-md-8">
        <h2>Unsubmitted Manuscripts in Draft</h2>
        
            <table class="table table-bordered table-striped" style="width: 900px;">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">CONTINUE</th>
                        <th scope="col">ID</th>
                        <th scope="col">TITLE</th>
                        <th scope="col">CREATED</th>
                        <th scope="col">DELETE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paper in papers %}
                        <tr>
                            <td>
                                <a href="{% url 'submit_paper_step1' paper.id %}">
                                    Continue
                                </a>    
                            </td>
                            <td>
                                {{ paper.journal_id }}
                            </td>    
                            <td>
                                {% if paper.title %}
                                    {{ paper.title }}
                                {% else %}
                                    (No Title Entered)    
                                {% endif %}
                                <br/>
                                {% comment %} <a href="{% url 'merge_pdfs' paper.id %}" target="_blank">View Submission</a>   {% endcomment %}
                                <a onclick="openNewWindow('{% url 'merge_pdfs' paper.id %}')" href="#">View Submission</a>  

                            </td>
                            <td>
                                {{ paper.created_at|date }}
                            </td>
                            <td>
                                <a href="{% url 'delete_paper' paper.id %}" onclick="return confirm('Are you sure you want to delete this paper?')"><i class="fa-solid fa-trash-can fa-lg" style="color: red; cursor: pointer;"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
      </div>
  </div>

  <script>
    function openNewWindow(url) {
        window.open(url, '_blank', 'width=700,height=700'); // Adjust width and height as needed
    }
</script>
  

{% endblock %}