{% load custom_filters %}

<div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link selected" href="#">Proof</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" hx-post="{% url 'original_files' review.id %}" hx-target='#info' hx-trigger='click'>Original Files</a>
      </li>
      <li class="nav-item dropdown">
        <a id="previous-reviews-link" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Previous Reviews</a>
          <div class="dropdown-menu">
            {% for rev in paper_reviewer.reviews.all %}
              {% if rev.revision != review.revision %}
                <a class="dropdown-item" onclick="openNewWindow('{% url 'view_review' rev.id %}')" href="#">{{ paper_reviewer.paper.journal_id|original_journal_id }}_R{{ rev.revision }}</a>
              {% endif %}
            {% endfor %}
        </div>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <iframe src="{{ paper.file.url }}" style="width: 100%; height: 800px;"></iframe> 
  </div>

  <script>
    function openNewWindow(url) {
        window.open(url, '_blank', 'width=700,height=700'); // Adjust width and height as needed
    }
  </script>
  