{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<style>
  .list-group-item {
    background-color: transparent; /* To remove default background */
    padding: 0; /* To remove default padding */
}

.list-link {
    display: block;
    padding: 10px 15px; /* Add padding to create a clickable area */
    text-decoration: none; /* Remove underline */
    color: #333; /* Default color */
    transition: color 0.3s; /* Smooth color transition on hover */
}

.list-link:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #d3d3d3;
    color: #808080; /* Change color on hover */
}

.selected {
    background-color: #d3d3d3;
    padding: 10px 15px; /* Add padding to create a clickable area */
}

.red-asterisk {
    color: red;
}

.green-check {
    color: green;
} 

#au {
  background-color: #555;
}

.scroll-box {
    width: 900px; /* Set the width of the box */
    height: 400px; /* Set the height of the box */
    border: 1px solid #ccc; /* Optional: Add a border for visual clarity */
    overflow: auto; /* Enable scrolling */
  }

  .file-upload__label {
    color: #aaa;
  }
  
</style>    

    <div class="row">
      <div class="col-md-4">
        <br/><br/>
        <a href="{% url 'unsubmitted_manuscripts' %}" class="btn btn-secondary" style="width: 18rem; margin-left: 50px;"><h5><i class="fas fa-angle-left"></i>&nbsp;Author Dashboard</h5></a><br/><br/>  
          <div class="card" style="width: 18rem; margin-left: 50px;">
              <div class="card-header">
                <h5 class="text-secondary">&nbsp;&nbsp;Submission</h5>
              </div>
              <ul class="list-group list-group-flush">

                    <li class="list-group-item selected text-secondary">
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                              {% if paper.decision_response %}
                                  <i class="fas fa-check green-check"></i>&nbsp;
                              {% else %}
                                  &nbsp;&nbsp;&nbsp;&nbsp;
                              {% endif %}
                              <span>Step 0: View and Respond to Decision Letter</span>
                          </div>
                          <i class="fas fa-angle-right"></i>
                        </div>
                  </li>

                  <li class="list-group-item">
                    <a href="{% url 'submit_paper_step1' paper.id %}" class="list-link form-next-link d-flex justify-content-between align-items-center" next="step1">
                        <div class="d-flex align-items-center">
                            {% if paper.type and paper.title and paper.abstract %}
                                <i class="fas fa-check green-check"></i>&nbsp;
                            {% else %}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                            <span>Step 1: Type, Title, & Abstract</span>
                        </div>
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>

                  <li class="list-group-item">
                    <a href="{% url 'submit_paper_step2' paper.id %}" class="list-link form-next-link d-flex justify-content-between align-items-center" next="step2">
                      <div class="d-flex align-items-center">
                          {% if paper.authors.all %}
                              <i class="fas fa-check green-check"></i>&nbsp;
                          {% else %}
                              &nbsp;&nbsp;&nbsp;&nbsp;    
                          {% endif %}
                          <span>Step 2: Authors</span>
                      </div>
                      <i class="fas fa-angle-right"></i>
                    </a>
                  </li>
                  
                   <li class="list-group-item">
                    <a href="{% url 'submit_paper_step3' paper.id %}" class="list-link form-next-link d-flex justify-content-between align-items-center" next="step3">
                        <div class="d-flex align-items-center">
                            {% if paper.attributes.all and paper.additionalAttributes.all %}
                                <i class="fas fa-check green-check"></i>&nbsp;
                            {% else %}
                                &nbsp;&nbsp;&nbsp;&nbsp;    
                            {% endif %}
                            <span>Step 3: Attributes</span>
                        </div>    
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>


                  <li class="list-group-item">
                    <a href="{% url 'submit_paper_step4' paper.id %}" class="list-link form-next-link d-flex justify-content-between align-items-center" next="step4">
                      <div class="d-flex align-items-center">
                        {% if paper.files.all %}
                          <i class="fas fa-check green-check"></i>&nbsp;
                        {% else %}
                          &nbsp;&nbsp;&nbsp;&nbsp;    
                        {% endif %}
                        <span>Step 4: File Upload</span>
                      </div>    
                      <i class="fas fa-angle-right"></i>
                    </a>
                  </li>


                  <li class="list-group-item">
                    <a href="{% url 'submit_paper_step5' paper.id %}" class="list-link form-next-link d-flex justify-content-between align-items-center" next="step5">
                      <div class="d-flex align-items-center">
                      {% if paper.number_of_figures and paper.number_of_tables and paper.word_count and paper.MSWord_file and paper.certification_form and paper.publish_elsewhere and paper.approval and paper.figures_tables_published_elsewhere  %}
                        {% if paper.figures_tables_published_elsewhere == 'Yes' %}  
                            {% if paper.figures_tables_published_elsewhere_desc %}
                              <i class="fas fa-check green-check"></i>&nbsp; 
                            {% else %}
                              &nbsp;&nbsp;&nbsp;&nbsp; 
                            {% endif %}  
                        {% else %}
                            <i class="fas fa-check green-check"></i>&nbsp; 
                        {% endif %}
                      {% else %}
                        &nbsp;&nbsp;&nbsp;&nbsp;
                      {% endif %}  
                    <span>Step 5: Details & Comments</span>
                  </div>    
                  <i class="fas fa-angle-right"></i>
                </a>
              </li>

              <li class="list-group-item">
                <a href="{% url 'submit_paper_step6' paper.id %}" class="list-link form-next-link d-flex justify-content-between align-items-center" next="step6">
                  <div class="d-flex align-items-center">
                      <i class="fas fa-check green-check"></i>&nbsp;Step 6: Reviewers
                  </div>
                  <i class="fas fa-angle-right"></i>
                </a>
              </li>

                
                  <li class="list-group-item">
                    <a href="{% url 'submit_paper_step7' paper.id %}" class="list-link form-next-link d-flex justify-content-between align-items-center" next="step7">
                      &nbsp;&nbsp;&nbsp;&nbsp;Step 7: Review & Submit
                    <i class="fas fa-angle-right"></i>
                  </a>
                </li>

            </ul>
          </div>
      </div>
  
      <div class="col-md-8">
        <div style="margin-right: 100px;">
          <br/>
          <section id="success_message">
            
          </section>
          
          <h2>Step 0: View and Respond to Decision Letter</h2>
          
          <p>Enter your response into the appropriate box below. When you are finished, click "Save and Continue".<br/><span class="red-asterisk">*</span> = Required Fields</p>
          <hr>

          <h5>Decision Letter</h5>
          <div class="scroll-box" style="padding: 10px;">
          {% include 'paper/decision_letter.html' %}
        </div>


            <br/>
            <form id="submit-paper-form_step0" action="{% url 'submit_paper_step0' paper.id %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group">
                        <label><h5><span class="red-asterisk">*</span> Your Response</h5></label>
                        {{ form.decision_response|add_class:'form-control' }}
                    </div>
                </div>
                <button name="save" type="submit" style="visibility: hidden;"></button>
                <button name="save_and_continue" type="submit" style="visibility: hidden;"></button>
            </form>    
                
              <b>Attach a File:</b><br/>
              <section id='decision-response-file'>
                  {% include 'partials/paper/decision_letter_response_file.html' %}
              </section>

              <hr/>
              
              <div style="display: inline-block; float: right;">
                <button type="submit" id="save-response" class="btn btn-dark btn-sm mb-3">Save</button>
                <button type="submit" id="save-response-continue" class="btn btn-dark btn-sm mb-3">Save & Continue&nbsp;<i class="fas fa-angle-right"></i></button>
              </div>  
    
        </div>
      </div>
  </div>


  <script>
    
    var saveBtn = document.getElementById("save-response");
    var saveContinueBtn = document.getElementById("save-response-continue");

    saveBtn.addEventListener('click', function() {
      document.getElementsByName("save")[0].click();
    })

    saveContinueBtn.addEventListener('click', function() {
      document.getElementsByName("save_and_continue")[0].click();
    })
    
    var formNextLinks = document.getElementsByClassName('form-next-link');
    for (var i = 0; i < formNextLinks.length; i++) {
      formNextLinks[i].addEventListener('click', function (e) {
        e.preventDefault();
        var form = document.getElementById('submit-paper-form_step0');
        var next = this.getAttribute('next');
        
        form.action = form.action + '?next=' + next;
        form.submit();
      });
    }
  </script>
    

{% endblock %}