{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<style>
  .list-group-item {
    background-color: transparent; /* To remove default background */
    padding: 0; /* To remove default padding */
}

.list-link {
    display: block;
    padding: 10px 15px; /* Add padding to create a clickable area */
    text-decoration: none; /* Remove underline */
    color: #333; /* Default color */
    transition: color 0.3s; /* Smooth color transition on hover */
}

.list-link:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #d3d3d3;
    color: #808080; /* Change color on hover */
}

.selected {
    background-color: #d3d3d3;
    padding: 10px 15px; /* Add padding to create a clickable area */
}

.red-asterisk {
  color: red;
}

.form-group select#id_attributes {
  width: 100%;
}

.green-check {
  color: green;
} 
</style>  

    <div class="row">
      <div class="col-md-4">
        <br/><br/>
        <a href="{% url 'unsubmitted_manuscripts' %}" class="btn btn-secondary" style="width: 18rem; margin-left: 50px;"><b><i class="fas fa-angle-left"></i>&nbsp;Author Dashboard</b></a><br/><br/>
          <div class="card" style="width: 18rem; margin-left: 50px;">
              <div class="card-header">
                  <b>Submission</b>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="#" class="list-link form-next-link" next="step1">Step 1: Type, Title, & Abstract
                    {% if paper.type and paper.title and paper.abstract %}
                        <i class="fas fa-check green-check"></i>
                    {% endif %}    
                  </a></li>
                  <li class="list-group-item"><a href="#" class="list-link form-next-link" next="step2">Step 2: Authors
                    {% if paper.authors.all %}
                        <i class="fas fa-check green-check"></i>
                    {% endif %}
                  </a></li>
                  <li class="list-group-item selected">Step 3: Attributes
                    {% if paper.attributes.all %}
                        <i class="fas fa-check green-check"></i>
                    {% endif %}
                  </li>
                  <li class="list-group-item"><a href="#" class="list-link form-next-link" next="step4">Step 4: File Upload
                    {% if paper.files.all %}
                        <i class="fas fa-check green-check"></i>
                    {% endif %}
                  </a></li>
                  <li class="list-group-item"><a href="{% url 'submit_paper_step5' paper.id %}" class="list-link">Step 5: Details & Comments
                    {% if paper.number_of_figures and paper.number_of_tables and paper.word_count and paper.MSWord_file and paper.certification_form and paper.publish_elsewhere and paper.approval and paper.figures_tables_published_elsewhere  %}
                      {% if paper.figures_tables_published_elsewhere == 'Yes' %}  
                        {% if figures_tables_published_elsewhere_desc %}
                          <i class="fas fa-check green-check"></i>
                        {% endif %}  
                      {% endif %}
                    {% endif %}
                  </a></li>
                  <li class="list-group-item"><a href="#" class="list-link form-next-link" next="step6">Step 6: Review & Submit</a></li>
            </ul>
          </div>
      </div>

      <div class="col-md-8">
        <div style="margin-right: 100px;">
          <br/>
        <h2>Step 3: Attributes</h2>
        <p style="color: #54626F;">Choose from predefined attributes or create new ones to accurately categorize your paper. When you are finished, click "Save and Continue."<br/><span class="red-asterisk">*</span> = Required Fields</p>
        <hr>  

        <form id="submit-paper-form_step1" action="{% url 'submit_paper_step3' paper.id %}" method="post">
            {% csrf_token %}
            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label><span class="red-asterisk">*</span> Attributes</label>
                    <span class="badge badge-info">REQUIRED 1. MAX 3.</span>
                    {{ form.attributes|add_class:'form-control' }}
                </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6" id="item-attributes">
                <label><span class="red-asterisk">*</span> Additional Attributes</label>&nbsp; &nbsp;<a href="#" class="add-attributes btn btn-success btn-sm"><i class="fas fa-plus"></i> Add</a>&nbsp;&nbsp; &nbsp;<span class="badge badge-info">REQUIRED 1. MAX 3.</span>
                {{ formset.management_form }}
                  {% for aform in formset %}
                      {{ aform.management_form }}
                      <div class="form-row">
                          {% for field in aform.visible_fields %}
                            {% if field.name != 'DELETE' %}
                              <div class="form-group col-md-6">
                                {{ field|add_class:'form-control a' }}
                              </div>
                            {% endif %}
                          {% endfor %}
                          {% if aform.instance.pk %}
                            <input type="hidden" name="{{ formset.prefix }}-{{ forloop.counter0 }}-id" value="{{ aform.instance.pk }}" />

                            <div class="form-group col-md-6">    
                              <a href="{% url 'delete_attribute' aform.instance.pk %}" onclick="return confirm('Are you sure you want to delete this Attribute?')" class="btn btn-danger btn-sm">Delete</a>       
                            </div> 
                          {% else %}    
                            <div class="form-group col-md-6">
                                <button class="btn btn-sm btn-warning a_reset" type="button" style="color: brown;">Reset</button>
                            </div>      
                          {% endif %}
                      </div> 
                {% endfor %}
              </div>
            </div>
            <hr/>

            <div style="display: inline-block; float: left;">
              <a href="{% url 'submit_paper_step2' paper.id %}" class="btn btn-dark btn-sm"><i class="fas fa-angle-left"></i>&nbsp;Previous Step</a>
            </div>
            <div style="display: inline-block; float: right;">    
                <button type="submit" name="save" class="btn btn-dark btn-sm mb-3">Save</button>
                <button type="submit" name="save_and_continue" class="btn btn-dark btn-sm mb-3">Save & Continue&nbsp;<i class="fas fa-angle-right"></i></button>
            </div>
        </form>
      </div>
    </div>
  </div>
   

  <script>
    var formNextLinks = document.getElementsByClassName('form-next-link');
    for (var i = 0; i < formNextLinks.length; i++) {
      formNextLinks[i].addEventListener('click', function (e) {
        e.preventDefault();
        var form = document.getElementById('submit-paper-form_step1');
        var next = this.getAttribute('next');
        
        form.action = form.action + '?next=' + next;
        form.submit();
      });
    }
  </script>

  <script>
    $("#id_attributes").select2({
      maximumSelectionLength: 3, 
    });


    $(document).ready(function () {
      // when user clicks add more btn of variants
      $(".add-attributes").click(function (ev) {
        ev.preventDefault();
        var formPrefix = "attributes";
        var tmplMarkup = `
              <div class="form-row">
                {% for field in formset.empty_form.visible_fields %}
                    {% if field.name != 'DELETE' %}
                        <div class="form-row form-group align-items-center">
                            <div class="col-auto">
                                {% comment %} {% render_field field class="form-control a" %} {% endcomment %}
                                {{ field|add_class:'form-control a' }}
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-sm btn-warning a_reset" type="button" style="color: brown;">Reset</button>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
          `;
        var tmplMarkupWithValues = tmplMarkup;
        var formCountInput = $("#id_" + formPrefix + "-TOTAL_FORMS");
        var formCount = parseInt(formCountInput.val());
  
        // update form count
        formCount += 1;
        formCountInput.val(formCount);
  
        // add 'required' attribute to dynamically added form fields
        tmplMarkupWithValues = tmplMarkupWithValues.replace(
          /__prefix__/g,
          formCount - 1
        );
        tmplMarkupWithValues = tmplMarkupWithValues.replace(
          /attributes-__prefix__/g,
          "attributes-" + (formCount - 1)
        );
  
        $("#item-attributes").append(tmplMarkupWithValues);
      });
    });


    $("#submit-paper-form_step1").submit(function (event) {
      var minForms = 1; 
      var maxForms = 3; 

      var filledForms = 0;
      $(".a").each(function () {
          var isEmpty = true;
              if ($(this).val() !== "") {
                  isEmpty = false;
              }
          if (!isEmpty) {
              filledForms++;
          }
      });
      if (filledForms < minForms) {
          alert("You must fill a minimum of " + minForms + " Additional Research Area.");   // Display an error message
          event.preventDefault(); // Prevent form submission
      }
      else if (filledForms > maxForms) {
          alert("You can fill a maximum of only " + maxForms + " Research Areas.");
          event.preventDefault(); 
      }
  });

          // Reset button click event
          $(document).on('click', '.a_reset', function() {
            var formRow = $(this).closest('.form-row');
            formRow.find('.a').val(''); // Reset input field(s) with class 'ra'
        });
  </script>

{% endblock %}