{% extends 'base.html' %}

{% load custom_filters %}     
{% load widget_tweaks %}
{% block content %}

<style>
  .list-group-item {
      background-color: transparent; /* To remove default background */
      padding: 0; /* To remove default padding */
  }
  
  .list-link {
      display: block;
      padding: 10px 15px; /* Add padding to create a clickable area */
      text-decoration: none; /* Remove underline */
      color: #333; /* Default color */
      transition: color 0.3s; /* Smooth color transition on hover */
  }
  
  .list-link:hover {
      cursor: pointer;
      text-decoration: none;
      background-color: #d3d3d3;
      color: #808080; /* Change color on hover */
  }
  
  .selected {
      background-color: #d3d3d3;
      padding: 10px 15px; /* Add padding to create a clickable area */
  }

  .error-box {
    border: 2px solid red;
    background-color: lightcoral;
    color: darkred;
    padding: 10px;
    width: 470px;
}

.green-check {
  color: green;
} 

.red-asterisk {
  color: red;
}

#au {
  background-color: #555;
}

select {
  appearance: none; /* Remove default styles */
  background-color: #f0f0f0; /* Background color */
  border: 1px solid #ccc; /* Border color */
  padding: 3px; /* Padding */
  width: 150px; /* Width of the select box */
  border-radius: 4px; /* Rounded corners */
}
</style>  

<div class="row">
    
    <div class="col-md-4">
      <br/><br/>
        <a href="{% url 'unsubmitted_manuscripts' %}" class="btn btn-secondary" style="width: 18rem; margin-left: 50px;"><h5><i class="fas fa-angle-left"></i>&nbsp;Author Dashboard</h5></a><br/><br/>
        <div class="card" style="width: 18rem; margin-left: 50px;">
            <div class="card-header">
              <h5 class="text-secondary">&nbsp;&nbsp;Submission</h5>
            </div>
            <ul class="list-group list-group-flush">

              {% if paper.eicdecision %}
              <li class="list-group-item">
                <a href="{% url 'submit_paper_step0' paper.id %}" class="list-link d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        {% if paper.decision_response %}
                            <i class="fas fa-check green-check"></i>&nbsp;
                        {% else %}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        {% endif %}
                        <span>Step 0: View and Respond to Decision Letter</span>
                    </div>
                    <i class="fas fa-angle-right"></i>
                </a>
              </li>
              {% endif %}

              <li class="list-group-item">
                <a href="{% url 'submit_paper_step1' paper.id %}" class="list-link d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        {% if paper.type and paper.title and paper.abstract %}
                            <i class="fas fa-check green-check"></i>&nbsp;
                        {% else %}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        {% endif %}
                        <span>Step 1: Type, Title, & Abstract</span>
                    </div>
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>
            
            <li class="list-group-item">
              <a href="{% url 'submit_paper_step2' paper.id %}" class="list-link form-next-link d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    {% if paper.authors.all %}
                        <i class="fas fa-check green-check"></i>&nbsp;
                    {% else %}
                        &nbsp;&nbsp;&nbsp;&nbsp;    
                    {% endif %}
                    <span>Step 2: Authors</span>
                </div>
                <i class="fas fa-angle-right"></i>
              </a>
            </li>
            

            <li class="list-group-item">
                <a href="{% url 'submit_paper_step3' paper.id %}" class="list-link d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        {% if paper.attributes.all and paper.additionalAttributes.all %}
                            <i class="fas fa-check green-check"></i>&nbsp;
                        {% else %}
                            &nbsp;&nbsp;&nbsp;&nbsp;    
                        {% endif %}
                        <span>Step 3: Attributes</span>
                    </div>    
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>


              <li class="list-group-item">
                <a href="{% url 'submit_paper_step4' paper.id %}" class="list-link d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    {% if paper.files.all %}
                      <i class="fas fa-check green-check"></i>&nbsp;
                    {% else %}
                      &nbsp;&nbsp;&nbsp;&nbsp;    
                    {% endif %}
                    <span>Step 4: File Upload</span>
                  </div>    
                  <i class="fas fa-angle-right"></i>
                </a>
              </li>


              <li class="list-group-item">
                <a href="{% url 'submit_paper_step5' paper.id %}" class="list-link d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                  {% if paper.number_of_figures and paper.number_of_tables and paper.word_count and paper.MSWord_file and paper.certification_form and paper.publish_elsewhere and paper.approval and paper.figures_tables_published_elsewhere  %}
                    {% if paper.figures_tables_published_elsewhere == 'Yes' %}  
                        {% if paper.figures_tables_published_elsewhere_desc %}
                          <i class="fas fa-check green-check"></i>&nbsp;  
                        {% else %}
                          &nbsp;&nbsp;&nbsp;&nbsp;     
                        {% endif %}  
                    {% else %}
                        <i class="fas fa-check green-check"></i>&nbsp; 
                    {% endif %}
                {% else %}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                {% endif %}  
                <span>Step 5: Details & Comments</span>
              </div>    
              <i class="fas fa-angle-right"></i>
            </a>
          </li>

          <li class="list-group-item selected text-secondary">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                  <i class="fas fa-check green-check"></i>&nbsp;Step 6: Reviewers
                </div>
              <i class="fas fa-angle-right"></i>
            </div>
          </li>


            
          <li class="list-group-item">
            <a href="{% url 'submit_paper_step7' paper.id %}" class="list-link form-next-link d-flex justify-content-between align-items-center">
              &nbsp;&nbsp;&nbsp;&nbsp;Step 7: Review & Submit
            <i class="fas fa-angle-right"></i>
          </a>
        </li>

            </ul>
        </div>
    </div>

    <div class="col-md-8">
      <div style="margin-right: 100px;">
        <br/>
      <h2>Step 6: Reviewers</h2>
      <p>Add your preferred and non-preferred reviewers by entering the reviewer's information into the Add Reviewer form. When you are finished, click "Continue". </b><br/><span class="red-asterisk">*</span> = Required Fields</p>
      <hr/>

      <div id='reviewers'>
         {% include "partials/paper/reviewers.html" %} 
      </div>

     
      <a href="#" type="button" class="btn btn-secondary btn-sm" id="add-rev" data-toggle="modal" data-target="#AddNewReviewer"><i class="fas fa-plus"></i>&nbsp;Add Reviewer</a>



      
       
    <br/><br/><hr/>

    <div style="display: inline-block; float: left;">
      <a href="{% url 'submit_paper_step5' paper.id %}" class="btn btn-dark btn-sm"><i class="fas fa-angle-left"></i>&nbsp;Previous Step</a>
    </div>
    <div style="display: inline-block; float: right;">
      <a href="{% url 'submit_paper_step7' paper.id %}" class="btn btn-dark btn-sm">Continue&nbsp;<i class="fas fa-angle-right"></i></a>
    </div>
  
  </div> 
</div>

</div> 


<!-- Modal -->
<div class="modal fade" id="AddNewReviewer" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fas fa-plus"></i>&nbsp;Add Reviewer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form id="add-reviewer-form" class="modal-form">
          {% csrf_token %}
          <div class="modal-body">
            <div class="form-row" id="rev-error-box" style="display: none;">
                <div class="error-box"> 
                  <i class="fas fa-exclamation-triangle"></i>&nbsp;Please attend to the following:<br/>
                  <ul>
                      <span id="rev-error"></span>
                  </ul> 
                </div>
                <br/>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label><span style="color: red">*</span> First name</label>
                <input type="text" class="form-control" id="first-name" name="first_name">
                <div id="first-name-error" class="error-message" style="color:red;"></div>
              </div>
              <div class="form-group col-md-6">
                <label><span style="color: red">*</span> Last name</label>
                <input type="text" class="form-control" id="last-name" name="last_name">
                <div id="last-name-error" class="error-message" style="color:red;"></div>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-7">
                  <label><span style="color: red">*</span> Email</label>
                  <input type="text" class="form-control" id="email" name="email" value="" hx-post="{% url 'search_user_reviewer_preference' paper.id %}" hx-trigger="blur" hx-target='#search_user_reviewer_result'>
                  <div id="email-error" class="error-message" style="color:red;"></div>
                </div>
                <div id="message" style="color:red;"></div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label><span style="color: red">*</span> Preference</label><br/>
                <label>
                  &nbsp;&nbsp;<input type="radio" name="preference" class="preference" value="Recommended">&nbsp;I recommend this Reviewer
                </label>
                <label>
                  &nbsp;&nbsp;<input type="radio" name="preference" class="preference" value="Opposed">&nbsp;I oppose this Reviewer
                </label>
                <div id="preference-error" class="error-message" style="color:red;"></div>
              </div>
            </div>
            <div class="form-row" style="display: none;" id="reason-div">
              <div class="form-group col-md-12">
                <label>Reason for <span id="preference-text"></span></label>
                <span class="badge badge-info" id="result" style="float: right;"></span>
                <input type="text" class="form-control" id="reason" name="reason">
              </div>
            </div>
          </div>  
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-angle-left"></i>&nbsp;Cancel</button>

            <a href="#" id="add-reviewer-button-hidden" type="button" data-dismiss="modal" hx-post="{% url 'add_new_reviewer_preference' paper.id %}" hx-target="#reviewers" style="display: none;"></a>
            <a href="#" id="add-reviewer-button" type="button" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;Add New Reviewer</a>
          </div>
      </form>      
    </div>
  </div>
</div>

<section id="search_user_reviewer_result" class="col-12">

</section>

  <script>

    // Function to get the value of a selected radio button
    function getSelectedRadioButtonValue(radioButtonClass) {
        var radioButtons = document.getElementsByClassName(radioButtonClass);

        for (var i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {
                return radioButtons[i].value;
            }
        }

        return null;
    } 

    var preferenceRadios = document.getElementsByClassName('preference');

    var reason = document.getElementById("reason");

    var result = document.getElementById("result");
    var limit = 100;
    result.textContent = 0 + ' OUT OF ' + limit + ' CHARACTERS';

    for (var i = 0; i < preferenceRadios.length; i++) {
      preferenceRadios[i].addEventListener('change', function() {
          document.getElementById('reason-div').style.display = 'block';
          var preferenceValue = getSelectedRadioButtonValue('preference');
          preferenceText = document.getElementById("preference-text");
          if (preferenceValue === 'Recommended') {
            preferenceText.innerHTML = 'Recommendation';
          } else if (preferenceValue === 'Opposed') {
            preferenceText.innerHTML = 'Opposition';
          } 
          reason.value = '';
          
          result.textContent = 0 + ' OUT OF ' + limit + ' CHARACTERS';
      });
    }


    reason.addEventListener("input",function(){
        var textLength = reason.value.length;

        if(textLength >= limit){
          reason.value = reason.value.substring(0, limit);
          textLength -= 1;
        }

        result.textContent = textLength + ' OUT OF ' + limit + ' CHARACTERS';
        
    });


      hiddenButton = document.getElementById('add-reviewer-button-hidden');
      button = document.getElementById('add-reviewer-button');
      button.addEventListener("click", function() {
        email = document.getElementById('email');
        firstName = document.getElementById('first-name');
        lastName = document.getElementById('last-name');
        preferenceRadios = document.getElementsByName('preference');

        emailError = document.getElementById('email-error');
        firstNameError = document.getElementById('first-name-error');
        lastNameError = document.getElementById('last-name-error');
        preferenceError = document.getElementById('preference-error');

        if (email.value == '') 
          emailError.innerHTML = 'Email is required';
        else
          emailError.innerHTML = '';

        if (firstName.value == '')
          firstNameError.innerHTML = 'First Name is required';
        else
          firstNameError.innerHTML = '';
      
        if (lastName.value == '')
          lastNameError.innerHTML = 'Last Name is required';
        else
          lastNameError.innerHTML = '';


        var isAnyPreferenceRadioSelected = Array.from(preferenceRadios).some(preferenceRadio => preferenceRadio.checked);
        if (!isAnyPreferenceRadioSelected) 
          preferenceError.innerHTML = 'Preference is required';
        else  
          preferenceError.innerHTML = '';

      
        if (email.value && firstName.value && lastName.value && isAnyPreferenceRadioSelected) {
          hiddenButton.click();}
      
    });

    $('#add-rev').click(function() {
      $('#message').text('');
      $('.error-message').text('');
      $('#first-name').val('');
      $('#last-name').val('');
      $('#email').val('');
      $('#reason').val('');
      document.getElementById("rev-error-box").style.display = 'none';
      document.getElementById("add-reviewer-button").style.pointerEvents="auto";
      document.getElementById("add-reviewer-button").style.cursor="pointer";
      document.getElementById("add-reviewer-button").style.opacity=1;
    }); 

  
    </script>
    
{% endblock %}