{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<style>
  .list-group-item {
    background-color: transparent; /* To remove default background */
    padding: 0; /* To remove default padding */
}

.list-link {
    display: block;
    padding: 10px 15px; /* Add padding to create a clickable area */
    text-decoration: none; /* Remove underline */
    color: #333; /* Default color */
    transition: color 0.3s; /* Smooth color transition on hover */
}

.list-link:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #d3d3d3;
    color: #808080; /* Change color on hover */
}

.selected {
    background-color: #d3d3d3;
    padding: 10px 15px; /* Add padding to create a clickable area */
}

.red-asterisk {
    color: red;
}

.green-check {
    color: green;
} 

#au {
  background-color: #555;
}
</style>    

    <div class="row">
      <div class="col-md-4">
        <br/><br/>
        <a href="{% url 'unsubmitted_manuscripts' %}" class="btn btn-secondary" style="width: 18rem; margin-left: 50px;"><h5><i class="fas fa-angle-left"></i>&nbsp;Author Dashboard</h5></a><br/><br/>  
          <div class="card" style="width: 18rem; margin-left: 50px;">
              <div class="card-header">
                <h5 class="text-secondary">&nbsp;&nbsp;Submission</h5>
              </div>
              <ul class="list-group list-group-flush">

                {% if paper.eicdecision %}
                <li class="list-group-item">
                  <a href="{% url 'submit_paper_step0' paper.id %}" class="list-link d-flex justify-content-between align-items-center" next="step0">
                      <div class="d-flex align-items-center">
                          {% if paper.decision_response %}
                              <i class="fas fa-check green-check"></i>&nbsp;
                          {% else %}
                              &nbsp;&nbsp;&nbsp;&nbsp;
                          {% endif %}
                          <span>Step 0: View and Respond to Decision Letter</span>
                      </div>
                      <i class="fas fa-angle-right"></i>
                  </a>
                </li>
                {% endif %}

                    <li class="list-group-item selected text-secondary">
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center">
                              {% if paper.type and paper.title and paper.abstract %}
                                  <i class="fas fa-check green-check"></i>&nbsp;
                              {% else %}
                                  &nbsp;&nbsp;&nbsp;&nbsp;
                              {% endif %}
                              <span>Step 1: Type, Title, & Abstract</span>
                          </div>
                          <i class="fas fa-angle-right"></i>
                        </div>
                  </li>

                  <li class="list-group-item">
                    <a href="{% url 'submit_paper_step2' paper.id %}" class="list-link form-next-link d-flex justify-content-between align-items-center" next="step2">
                      <div class="d-flex align-items-center">
                          {% if paper.authors.all %}
                              <i class="fas fa-check green-check"></i>&nbsp;
                          {% else %}
                              &nbsp;&nbsp;&nbsp;&nbsp;    
                          {% endif %}
                          <span>Step 2: Authors</span>
                      </div>
                      <i class="fas fa-angle-right"></i>
                    </a>
                  </li>
                  

                 

                   <li class="list-group-item">
                    <a href="{% url 'submit_paper_step3' paper.id %}" class="list-link form-next-link d-flex justify-content-between align-items-center" next="step3">
                        <div class="d-flex align-items-center">
                            {% if paper.attributes.all and paper.additionalAttributes.all %}
                                <i class="fas fa-check green-check"></i>&nbsp;
                            {% else %}
                                &nbsp;&nbsp;&nbsp;&nbsp;    
                            {% endif %}
                            <span>Step 3: Attributes</span>
                        </div>    
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>


                  <li class="list-group-item">
                    <a href="{% url 'submit_paper_step4' paper.id %}" class="list-link form-next-link d-flex justify-content-between align-items-center" next="step4">
                      <div class="d-flex align-items-center">
                        {% if paper.files.all %}
                          <i class="fas fa-check green-check"></i>&nbsp;
                        {% else %}
                          &nbsp;&nbsp;&nbsp;&nbsp;    
                        {% endif %}
                        <span>Step 4: File Upload</span>
                      </div>    
                      <i class="fas fa-angle-right"></i>
                    </a>
                  </li>


                  <li class="list-group-item">
                    <a href="{% url 'submit_paper_step5' paper.id %}" class="list-link form-next-link d-flex justify-content-between align-items-center" next="step5">
                      <div class="d-flex align-items-center">
                      {% if paper.number_of_figures and paper.number_of_tables and paper.word_count and paper.MSWord_file and paper.certification_form and paper.publish_elsewhere and paper.approval and paper.figures_tables_published_elsewhere  %}
                        {% if paper.figures_tables_published_elsewhere == 'Yes' %}  
                            {% if figures_tables_published_elsewhere_desc %}
                              <i class="fas fa-check green-check"></i> 
                            {% else %}
                              &nbsp;&nbsp;&nbsp;&nbsp; 
                            {% endif %}  
                        {% else %}
                            <i class="fas fa-check green-check"></i>&nbsp; 
                        {% endif %}
                      {% else %}
                        &nbsp;&nbsp;&nbsp;&nbsp;
                      {% endif %}  
                    <span>Step 5: Details & Comments</span>
                  </div>    
                  <i class="fas fa-angle-right"></i>
                </a>
              </li>

              <li class="list-group-item">
                <a href="{% url 'submit_paper_step6' paper.id %}" class="list-link form-next-link d-flex justify-content-between align-items-center" next="step6">
                  <div class="d-flex align-items-center">
                      <i class="fas fa-check green-check"></i>&nbsp;Step 6: Reviewers
                  </div>
                  <i class="fas fa-angle-right"></i>
                </a>
              </li>

                
                  <li class="list-group-item">
                    <a href="{% url 'submit_paper_step7' paper.id %}" class="list-link form-next-link d-flex justify-content-between align-items-center" next="step7">
                      &nbsp;&nbsp;&nbsp;&nbsp;Step 7: Review & Submit
                    <i class="fas fa-angle-right"></i>
                  </a>
                </li>

            </ul>
          </div>
      </div>
  
      <div class="col-md-8">
        <div style="margin-right: 100px;">
          <br/>
          <section id="success_message">
            
          </section>
          
          <h2>Step 1: Type, Title, & Abstract</h2>
          
          <p style="color: #54626F;">Select your manuscript type. Enter your title and abstract into the appropriate boxes below. When you are finished, click "Save and Continue".<br/><span class="red-asterisk">*</span> = Required Fields</p>
            <form id="submit-paper-form_step1" action="{% url 'submit_paper_step1' paper.id %}" method="post">
                {% csrf_token %}
                <table class="table table-bordered">
                  <tr>
                      <td>
                          <label><span class="red-asterisk">*</span> <b>Type</b></label>

                          {{ form.type }}
                      </td>
                  </tr>
              
                  <tr>
                      <td>
                          <label><span class="red-asterisk">*</span> <b>Title</b></label>
                      
                          <span class="badge badge-info" id="title-result" style="float: right;"></span>
                          {% render_field form.title class="form-control" id='title' %}
                      </td>
                  </tr>
              
                  <tr>
                      <td>
                          <label><span class="red-asterisk">*</span> <b>Abstract</b></label>

                          <span class="badge badge-info" id="abstract-result" style="float: right;"></span>
                          {% render_field form.abstract class="form-control" id='abstract' %}
                      </td>
                  </tr>
              </table>
              
                
                <br/>

                <div style="display: inline-block; float: left;">
                  <a href="{% url 'submit_paper_step0' paper.id %}" class="btn btn-dark btn-sm"><i class="fas fa-angle-left"></i>&nbsp;Previous Step</a>
                </div>
                <div style="display: inline-block; float: right;">
                  {% comment %} <button type="submit" name="save" class="btn btn-dark btn-sm mb-3" hx-get="{% url 'success_message' %}" hx-target='#success_message' >Save</button> {% endcomment %}

                  <button type="submit" name="save" class="btn btn-dark btn-sm mb-3">Save</button>
                  <button type="submit" name="save_and_continue" class="btn btn-dark btn-sm mb-3">Save & Continue&nbsp;<i class="fas fa-angle-right"></i></button>
                </div>  
            </form>
        </div>
      </div>
  </div>

  {% comment %} <!-- Toast-->
  <div class="alert alert-warning alert-dismissible fade show" role="alert" style="max-width: 800px; border: 1px solid red;">
    <i class="fas fa-star"></i> <strong>Success!</strong> Your work has been saved.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
  <!-- Toast End --> {% endcomment %}


  <script>
    var formNextLinks = document.getElementsByClassName('form-next-link');
    for (var i = 0; i < formNextLinks.length; i++) {
      formNextLinks[i].addEventListener('click', function (e) {
        e.preventDefault();
        var form = document.getElementById('submit-paper-form_step1');
        var next = this.getAttribute('next');
        
        form.action = form.action + '?next=' + next;
        form.submit();
      });
    }
  </script>

  <script>
    function handleButtonClick() {
        // Add your JavaScript code here to perform the desired action
        // For example, make an AJAX request to the URL and update the target element
        // You can use JavaScript libraries like jQuery or fetch API for AJAX requests
        fetch("{% url 'success_message' %}")
            .then(response => response.text())
            .then(data => {
                // Update the target element with the response data
                document.querySelector('#success_message').innerHTML = data;
            })
            .catch(error => {
                console.error("An error occurred:", error);
            });
    }
    </script>

    <script>
      title = document.getElementById('title');
      abstract = document.getElementById('abstract');

      var resultTitle = document.getElementById("title-result");
      var resultAbstract = document.getElementById('abstract-result');


      // title
      var limitTitleWords = 50; 
    
      var wordsAbstract = title.value.split(/\s+/).filter(function (word) {
        return word.length > 0;
      });
      resultTitle.textContent = wordsAbstract.length + ' OUT OF ' + limitTitleWords + ' WORDS';
    
      title.addEventListener("input", function () {
        var words = title.value.split(/\s+/).filter(function (word) {
          return word.length > 0;
        });
    
        if (words.length > limitTitleWords) {
          words = words.slice(0, limitTitleWords);
          title.value = words.join(" ");
        }
    
        resultTitle.textContent = words.length + ' OUT OF ' + limitTitleWords + ' WORDS';
      });

      //abstract
      var limitAbstractWords = 200; 
    
      var wordsTitle = abstract.value.split(/\s+/).filter(function (word) {
        return word.length > 0;
      });
      resultAbstract.textContent = wordsTitle.length + ' OUT OF ' + limitAbstractWords + ' WORDS';
    
      abstract.addEventListener("input", function () {
        var words = abstract.value.split(/\s+/).filter(function (word) {
          return word.length > 0;
        });
    
        if (words.length > limitAbstractWords) {
          words = words.slice(0, limitAbstractWords);
          abstract.value = words.join(" ");
        }
    
        resultAbstract.textContent = words.length + ' OUT OF ' + limitAbstractWords + ' WORDS';
      });
    </script>
    

{% endblock %}