
<!-- Modal -->
<div class="modal fade" id="editReviewerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit Reviewer <span style="color: grey;">{{ paper_reviewer.reviewer.email }}</span></h5>
            
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="edit-reviewer-form" class="modal-form" hx-post="{% url 'edit_reviewer' paper_reviewer.paper.id paper_reviewer.reviewer.id %}" hx-target='#reviewers'>
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label><span style="color: red">*</span> First name</label>
                            <input type="text" class="form-control" name="first_name2" value="{{ paper_reviewer.reviewer.first_name }}">
                            <div id="first-name-error2" class="error-message2" style="color:red;"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label><span style="color: red">*</span> Last name</label>
                            <input type="text" class="form-control" name="last_name2" value="{{ paper_reviewer.reviewer.last_name }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label><span style="color: red">*</span> Preference</label><br/>
                            <label>
                                &nbsp;&nbsp;<input type="radio" name="preference2" value="Recommended" {% if paper_reviewer.preference == 'Recommended' %}checked{% endif %}>&nbsp;I recommend this Reviewer
                            </label>
                            <label>
                                &nbsp;&nbsp;<input type="radio" name="preference2" value="Opposed" {% if paper_reviewer.preference == 'Opposed' %}checked{% endif %}>&nbsp;I oppose this Reviewer
                            </label>
                        </div>
                        </div>
                        <div class="form-row" id="reason-div2">
                            <div class="form-group col-md-12">
                                <label>Reason for <span id="preference-text2">{% if paper_reviewer.preference == 'Recommended' %}Recommendation{% else %}Opposition{% endif %}</span></label>
                                <span class="badge badge-info" id="result2" style="float: right;"></span>
                                <input type="text" class="form-control" id="reason2" name="reason2" value="{{ paper_reviewer.reason }}">
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-angle-left"></i>&nbsp;Cancel</button>

                    <a href="#" id="edit-reviewer-button-hidden" type="button" class="btn btn-primary" data-dismiss="modal" hx-post="{% url 'edit_reviewer_preference' paper_reviewer.id %}" hx-target="#reviewers" style="display: none;"></a>
                    <a href="#" id="edit-reviewer-button" type="button" class="btn btn-primary"><i class="fas fa-edit"></i>&nbsp;Edit Reviewer</a>
                </div>
            </form>      
        </div>
    </div>
</div>
<!-- Modal end -->
<script>
    {% comment %} document.getElementById('edit-reviewer-form{{ paper_reviewer.reviewer.id }}').addEventListener('submit', function(event) {
        event.preventDefault();

        $('#editReviewerModal{{ paper_reviewer.reviewer.id }}').modal('hide');
    }); {% endcomment %}
    
        $(document).ready(function() {
          $('#editReviewerModal').modal('show');
        }); 
        
     
    
</script>

<script>
    // Function to get the value of a selected radio button
    function getSelectedRadioButtonValue(radioButtonName) {
        var radioButtons = document.getElementsByName(radioButtonName);

        for (var i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {
                return radioButtons[i].value;
            }
        }

        return null;
    } 

    var preferenceRadios2 = document.getElementsByName('preference2');

    var reason2 = document.getElementById("reason2");

    var result2 = document.getElementById("result2");
    var limit = 100;
    result2.textContent = reason2.value.length + ' OUT OF ' + limit + ' CHARACTERS';

    for (var i = 0; i < preferenceRadios2.length; i++) {
      preferenceRadios2[i].addEventListener('change', function() {
          document.getElementById('reason-div2').style.display = 'block';
          var preferenceValue2 = getSelectedRadioButtonValue('preference2');
          
          preferenceText2 = document.getElementById("preference-text2");
          if (preferenceValue2 === 'Recommended') {
            preferenceText2.innerHTML = 'Recommendation';
          } else if (preferenceValue2 === 'Opposed') {
            preferenceText2.innerHTML = 'Opposition';
          } 

          reason2.value = '';
          result2.textContent = 0 + ' OUT OF ' + limit + ' CHARACTERS';
      });
    }


    reason2.addEventListener("input",function(){
        var textLength = reason2.value.length;

        if(textLength >= limit){
          reason2.value = reason2.value.substring(0, limit);
          textLength -= 1;
        }

        result2.textContent = textLength + ' OUT OF ' + limit + ' CHARACTERS';
        
    });


      hiddenButton2 = document.getElementById('edit-reviewer-button-hidden');
      button2 = document.getElementById('edit-reviewer-button');
      button2.addEventListener("click", function() {
        email2 = document.getElementById('email2');
        firstName2 = document.getElementById('first-name2');
        lastName2 = document.getElementById('last-name2');
        preferenceRadios2 = document.getElementsByName('preference2');

        emailError2 = document.getElementById('email-error2');
        firstNameError2 = document.getElementById('first-name-error2');
        lastNameError2 = document.getElementById('last-name-error2');
        preferenceError2 = document.getElementById('preference-error2');

        if (email2.value == '') 
          emailError2.innerHTML = 'Email is required';
        else
          emailError2.innerHTML = '';

        if (firstName2.value == '')
          firstNameError2.innerHTML = 'First Name is required';
        else
          firstNameError2.innerHTML = '';
      
        if (lastName2.value == '')
          lastNameError2.innerHTML = 'Last Name is required';
        else
          lastNameError2.innerHTML = '';


        var isAnyPreferenceRadioSelected2 = Array.from(preferenceRadios2).some(preferenceRadio2 => preferenceRadio2.checked);
        if (!isAnyPreferenceRadioSelected2) 
          preferenceError2.innerHTML = 'Preference is required';
        else  
          preferenceError2.innerHTML = '';

      
        if (email2.value && firstName2.value && lastName2.value && isAnyPreferenceRadioSelected2) {
          hiddenButton2.click();}
      
    });

  
    </script>


    {% autoescape off %}
    Dear {{ paper_reviewer.reviewer.first_name }},

    Manuscript ID {{ paper_reviewer.paper.journal_id }} entitled "{{ paper_reviewer.paper.title }}” has been submitted to the 
    Journal of Artificial Intelligence Research(JAIR).

    I invite you to review this manuscript. The abstract appears at the end of this letter, along with the names of the authors.
    Please let me know as soon as possible if you will be able to accept my invitation to review. If you are unableto review at
    this time, I would appreciate you recommending another expert reviewer.

    You may e-mail me with your reply or click the appropriate link at the bottom of the page to automaticaly register your reply
    with our online manuscript submission and review system.

    Once you accept my invitation to review this manuscript, you wil be notified via e-mail about how to access LuminaScholar
    Manuscripts, our online manuscript submission and review system. You will then have access to the manuscript and reviewer
    instructions in your Reviewer Center.

    I realize that our expert reviewers greatly contribute to the high standards of the Journal, and I thank you for your
    present and/or future participation.

    To respond automatically, click below:
    *** PLEASE NOTE: This is a two-step process. After clicking on the link, you will be directed to a webpage to confirm.***

    Agreed: http://{{domain}}{% url 'agree_to_review' paper_reviewer.id %}
    Declined: http://{{domain}}{% url 'decline_to_review' paper_reviewer.id %}

    MANUSCRIPT DETAILS
    TITLE: {{ paper_reviewer.paper.title }}
    AUTHORS: {% for author in paper_reviewer.paper.authors.all %}{{ author.first_name }} {{ author.last_name }}{% if not forloop.last %}, {% endif %}{% endfor %}
    ABSTRACT: {{ paper_reviewer.paper.abstract }}

    Sincerely,
    {{ user.first_name }} {{ user.last_name }} 
    {{ user.email }}
    JAIR Associate Editor
{% endautoescape %} 


