{% extends 'base.html' %}
{% load custom_filters %} 

{% block content %}

<style>
  select {
    appearance: none; /* Remove default styles */
    background-color: #f0f0f0; /* Background color */
    border: 1px solid #ccc; /* Border color */
    padding: 3px; /* Padding */
    width: 300px; /* Width of the select box */
    border-radius: 4px; /* Rounded corners */
  }

  .page-item.active .page-link {
      columns: #fff;
      background-color: #6c757d;
      border: 1px solid #6c757d;
  }

  .pagination > li > a {
      background-color: #fff;
      color: #6c757d;
  }

  .pagination > li > a:focus,
  .pagination > li > a:hover,
  .pagination > span > a:focus,
  .pagination > span > a:hover {
      color: #111;
      background-color: #d3d3d3;
      border: 1px solid #6c757d;
      box-shadow: none;
  }

  .hidden {
    display: none;
  }

  #eic {
    background-color: #555;
  }

  .error-box {
    border: 2px solid red;
    background-color: lightcoral;
    color: darkred;
    padding: 10px;
}

.file-upload__label {
  color: #aaa;
}
</style>


<br/>
<h3 style="margin-left: 400px;">
  {% if type == 'papers_awaiting_ae_selection' %}
    Awaiting AE Selection
  {% elif type == 'papers_awaiting_ae_assignment' %} 
    Awaiting AE Assignment
  {% elif type == 'papers_awaiting_eic_decision' %} 
    Awaiting EIC Decision
  {% else %}  
    Submitted EIC Decisions
  {% endif %}  
</h3>
<br/>

{% for paper in page_obj %}
    {% if form %}
        <div class="card" style="max-width: 42rem; margin-left: 210px; float: left;">
    {% else %}
        <div class="card" style="max-width: 42rem; margin-left: 400px;">
    {% endif %}
    <div class="card-header text-secondary" style="padding: 30px;">
        <h5 class="card-title text-secondary">Manuscript Details:</h5>
        <table class="table table-bordered" style="width: 600px;">
            <thead class="table-active">
              <tr>
                <th scope="col">FIELD</th>
                <th scope="col">DETAILS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>ID</th>
                <td>{{ paper.journal_id }}</td>
              </tr>
              <tr>
                <th>Title</th>
                <td>{{ paper.title }}</td>
              </tr>
              <tr>
                <th>Attributes:</th>
                <td>
                    {% for attribute in paper.attributes.all %}
                        {{ attribute.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %} 
                </td>
              </tr>
              <tr>
                <th>Additional Attributes:</th>
                <td>
                    {% for attribute in paper.additionalAttributes.all %}
                        {{ attribute.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %} 
                </td>
              </tr>
              <tr>
                <th>Submitting Author</th>
                <td>{{ paper.submitter.first_name }} {{ paper.submitter.last_name }}</td>
              </tr>
              <tr>
                <th>Type</th>
                <td>{{ paper.type }}</td>
              </tr>
              <tr>
                <th>Date Submitted</th>
                <td>{{ paper.date_submitted|date }}</td>
              </tr>
            </tbody>    
        </table>
       
        <a href="{{ paper.file.url }}" target="_blank" style="margin-right: 60px;"><i class="fas fa-file-alt"></i> Submission</a>
        <a href="#" data-toggle="modal" data-target="#OriginalFiles" style="margin-right: 60px;"><i class="fa fa-file-alt"></i> Original Files</a>
        {% if paper.cover_letter or paper.cover_letter_file %}
            <a href="#" data-toggle="modal" data-target="#CoverLetter" style="margin-right: 60px;"><i class="fas fa-file-pen"></i> Cover Letter</a>
        {% else %}    
            <a href="#" data-toggle="modal" data-target="#CoverLetter" style="pointer-events: none; opacity: .4; margin-right: 60px;"><i class="fas fa-file-pen"></i> Cover Letter</a>
        {% endif %}
        <a href="#" data-toggle="modal" data-target="#Abstract"><i class="fa fa-pen"></i> Abstract</a>
    </div>
    {% if not form %}
      <div class="card-body text-secondary" id="select-ae">
          {% if paper.associate_editor %}
              {% include 'partials/assigned_ae.html' %}
          {% else %}
              <h5 class="card-title">Pick from a list:</h5>
              <p class="card-text">
                  <form hx-post="{% url 'select_ae' paper.id %}" hx-target='#select-ae'>
                      {% csrf_token %}
                      <select name="selected_ae">
                          <option selected disabled>Select an AE (# Current Assignments)...</option>
                          {% for associate_editor in associate_editors %}
                              <option value="{{ associate_editor.id }}">{{ associate_editor.first_name }} {{ associate_editor.last_name }} ({{ associate_editor.assigned_papers.count }})</option>
                          {% endfor %}
                      </select> 
                      <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-check"></i>&nbsp;Assign</button>
                  </form>     
              </p>
          {% endif %}
      </div>
    {% endif %}
  </div>

  {% if form %}
      <div class="card border-secondary mb-3" style="max-width: 18rem; float: right;  margin-right: 210px;">
        <h5 class="card-header text-secondary">Reviews</h5>
        <div class="card-body">
          <table class="table table-bordered">
            <tbody>
              {% for paper_reviewer in paper_reviewers %}
                  {% if paper_reviewer.status == 'Submitted' %}
                      <tr>
                          <th class="text-secondary">{{paper_reviewer.reviewer.first_name}} {{paper_reviewer.reviewer.last_name}} </th>
                          <td>{{ paper_reviewer.review.recommendation }}<br/><a href="#" onclick="openNewWindow('{% url 'view_review' paper_reviewer.id %}')">View</a></td>
                      </tr>
                    {% endif %}
              {% endfor %}  
            </tbody>    
        </table> 
        </div>
      </div>

      <div class="card border-secondary mb-3" style="max-width: 18rem; float: right;  margin-right: 210px;">
        <h5 class="card-header text-secondary">Recommendations</h5>
        <div class="card-body">
          <table class="table table-bordered">
            <tbody>
                <tr>
                    <th class="text-secondary">{{ paper.associate_editor.first_name}} {{ paper.associate_editor.last_name}} </th>
                    <td>{{ paper.aerecommendation.recommendation }}<br/><a href="#" onclick="openNewWindow('{% url 'view_recommendation' paper.aerecommendation.id %}')">View</a></td>
                </tr>
            </tbody>    
        </table> 
        </div>
      </div>



        <div style="width: 700px; margin-left: 210px; margin-top: 560px;">
        <h4>EIC Decision</h4>
        <div id="success" class="alert alert-warning alert-dismissible fade show hidden" role="alert" style="border: 1px solid red;">
          <i class="fas fa-star"></i> <strong>Success!</strong> Your work has been saved!
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="eic-form">
          {% include 'partials/conference/eic_form.html' %}
        </div>

        <b>Attach File(s)</b>

        <div id="eic-files">
          {% include "partials/conference/eic_files.html" %}
        </div>

        <br/><br/>
        <hr/>

        <div style="display: inline-block; float: right;">    
          <button class="showElementButton save-decision btn btn-dark btn-sm mb-3"><i class="fa-solid fa-floppy-disk"></i> Save Draft</button>
          <button id='show_submit_decision_modal' class="showElementButton save-decision btn btn-dark btn-sm mb-3" data-dismiss="modal">Submit&nbsp;<i class="fas fa-angle-right"></i></button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="SubmitDecision" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"><i class="fa-solid fa-triangle-exclamation" style="color: red;"></i>&nbsp;Submit Decision?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you ready to submit this Decision?
          </div>  
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-angle-left"></i>&nbsp;No, Go Back</button>
            <a href="{% url 'submit_decision' paper.id %}" type="button" class="btn btn-primary">Yes, Submit&nbsp;<i class="fas fa-angle-right"></i></a>
          </div>   
        </div> 
      </div>
    </div>

{% endif %}


  <!-- Modal -->
<div class="modal fade" id="OriginalFiles" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Original Files</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <table class="table table-bordered" style="width: 450px; margin: auto">
            <thead>
              <tr class="table-info">
                <th scope="col"></th>
                <th scope="col" style="color: DarkMagenta;">File</th>
              </tr>
            </thead>
            <tbody>
              {% for file in paper.files.all %}
                <tr><th scope="row" style="color: DarkMagenta;">{{ forloop.counter }}</th>
                <td><a href="{{ file.file.url }}">{{ file|basename }}</a></td></tr>
              {% endfor %}
            </tbody>  
          </table>  
      </div>
      <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal End -->

<!-- Modal -->
<div class="modal fade" id="Abstract" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Abstract</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {{ paper.abstract }}
      </div>
      <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal End -->

<!-- Modal -->
<div class="modal fade" id="CoverLetter" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cover Letter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% if paper.cover_letter %}
              {{ paper.cover_letter }}<br/><br/>
          {% endif %}
          {% if paper.cover_letter_file %}
              <b>Attached Files:</b><br/>
              <a href="{{ paper.cover_letter_file.url }}">{{ paper.cover_letter_file|basename }}</a>
          {% endif %}
      </div>
      <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal End -->

{% endfor %}
  
<br/><br/>
<hr>

<div style="display: inline-block; float: left;">  
    {% if type == 'papers_awaiting_ae_selection' %}
      <a href="{% url 'awaiting_ae_selection' %}"
    {% elif type == 'papers_awaiting_ae_assignment' %} 
      <a href="{% url 'awaiting_ae_assignment' %}" 
    {% elif type == 'papers_awaiting_eic_decision' %}  
      <a href="{% url 'awaiting_eic_decision' %}" 
    {% elif type == 'papers_submitted_eic_decision' %}  
      <a href="{% url 'submitted_eic_decisions' %}"   
    {% endif %}  
    class="btn btn-dark" style="margin-left: 400px;"><i class="fas fa-angle-left"></i>&nbsp;Back</a>
</div>

<div style="display: inline-block; float: right; margin-right: 460px;">    
    {% if page_obj.has_other_pages %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page=1" class="page-link">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled"></li>
            {% endif %}


            {% if pages_obj.number|add:'-2' > 1 %}
                <li><a class='page-link' href="?page={{ page_obj.number|add:'-2' }}">&hellip;</a></li>
            {% endif %}


            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active">
                        <span class="page-link">{{ i }}<span class="sr-only">(current)</span></span>
                    </li>
                {% elif i > page_obj.number|add:'-2' and i < page_obj.number|add:'2' %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}


            {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
                <li><a class="page-link" href="?page={{ page_obj.number|add:'-2' }}">&hellip;</a></li>
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                <li><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
            {% endif %}
            

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                </li>
            {% else %}
                <li class="page-item disabled"></li>
            {% endif %}
        </ul>
    {% endif %}
</div>   


{% if form %}
    <script>
        var saveBtns = document.getElementsByClassName("save-decision");
        for (var i = 0; i < saveBtns.length; i++) {
            saveBtns[i].addEventListener('click', function() {
                document.getElementById("submit-decision-hidden").click();
                document.getElementById('success').classList.remove('hidden');
            });
        }

        var showSubmitDecisionModalButton = document.getElementById("show_submit_decision_modal");

        function showDecisionModal() {
          if ($('.error-box').is(':visible') || document.getElementById('permanentElement').classList.contains('hidden')) {
            // Error box is visible, do nothing
          } else {
              // Error box is not visible, execute your JavaScript code
              $('#SubmitDecision').modal('show');
          }
          //document.removeEventListener('htmx:afterSwap', afterSwapHandler);
        }

        function afterSwapHandler(event) {
            // Handle htmx:afterSwap event here
            showDecisionModal();
        }

        showSubmitDecisionModalButton.addEventListener('click', function() {
            // Add the htmx:afterSwap event listener
            document.addEventListener('htmx:afterSwap', afterSwapHandler);
        });

        // Optionally, you can also remove the htmx:afterSwap event listener when the modal is closed
        $('#SubmitDecision').on('hidden.bs.modal', function () {
          document.removeEventListener('htmx:afterSwap', afterSwapHandler);
        });

        function openNewWindow(url) {
          window.open(url, '_blank', 'width=700,height=700'); // Adjust width and height as needed
      }
              
    </script> 
{% endif %}


{% endblock %}