{% extends 'base.html' %}

{% block content %}

<style>
    .list-group-item {
      background-color: transparent; /* To remove default background */
      padding: 0px; /* Add padding to create a clickable area */
  }
  
  .list-link {
      display: block;
      padding: 10px 15px; /* Add padding to create a clickable area */
      text-decoration: none; /* Remove underline */
      transition: color 0.3s; /* Smooth color transition on hover */
  }
  
  .list-link:hover {
      cursor: pointer;
      text-decoration: none;
      background-color: #d3d3d3;
      color: #808080; /* Change color on hover */
  }
  
  .selected {
      background-color: #d3d3d3;
      padding: 10px 15px;
  }

    #eic {
        background-color: #555;
    }

    a{
        text-decoration: none;
    }

  .pagination > li > a {
        background-color: #fff;
        color: #6c757d;
    }

    .pagination > li > a:focus,
    .pagination > li > a:hover,
    .pagination > span > a:focus,
    .pagination > span > a:hover {
        color: #111;
        background-color: #d3d3d3;
        border: 1px solid #6c757d;
        box-shadow: none;
    }

    .page-item.active .page-link {
        columns: #fff;
        background-color: #6c757d;
        border: 1px solid #6c757d;
    }
  
</style>  

    <div class="row" style="margin-top:30px;">
        <div class="col-md-4">
            <div class="card" style="width: 18rem; margin-left: 50px; margin-top: 45px;">
                <div class="card-header">
                  <h5 class="text-secondary">&nbsp;&nbsp;EIC Dashboard</h5>
                </div>
                <ul class="list-group list-group-flush">
                      <li class="list-group-item selected text-secondary">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center" style="margin-left: 15px;">
                                Awaiting AE Selection
                            </div>
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </li>
                      <li class="list-group-item">
                        <a href="{% url 'awaiting_ae_assignment' %}" class="list-link d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center" style="margin-left: 15px;">
                            Awaiting AE Assignment
                          </div>
                          <i class="fas fa-angle-right"></i>
                        </a>  
                      </li>
                      <li class="list-group-item">
                        <a href="{% url 'awaiting_eic_decision' %}" class="list-link d-flex justify-content-between align-items-center">
                          <div class="d-flex align-items-center" style="margin-left: 15px;">
                            Awaiting EIC Decision
                          </div>
                          <i class="fas fa-angle-right"></i>
                        </a>  
                      </li>
                      <li class="list-group-item">
                        <a href="{% url 'submitted_eic_decisions' %}" class="list-link d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center" style="margin-left: 15px;">
                                Submitted EIC Decisions
                            </div>
                            <i class="fas fa-angle-right"></i>
                        </a>  
                      </li>
                </ul>
            </div>
        </div>
  
  
        <div class="col-md-8">
            <h2>Papers Awaiting AE Selection</h2>
            <table class="table table-bordered table-striped" style="width: 900px;">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col" style="width: 15%;">ID</th>
                        <th scope="col" style="width: 35%">TITLE</th>
                        <th scope="col" style="width: 19%">DATE SUBMITTED</th>
                        <th scope="col" style="width: 21%">STATUS</th>
                        <th scope="col" style="width: 10%">TAKE ACTION</th>
                    </tr>    
                </thead>
                <tbody>
                    {% for paper in page_obj %}
                        <tr>
                            <td>
                                {{ paper.journal_id }}
                            </td>
                            <td>
                                {{ paper.title }}<br/>[ <a onclick="openNewWindow('{{ paper.file.url }}')" href="#">View Submission</a> ]
                            </td>
                            <td>
                                {{ paper.date_submitted|date }}
                            </td>            
                            <td>
                                {% if paper.associate_editor %}
                                    AE: {{paper.associate_editor.first_name }} {{paper.associate_editor.last_name }}
                                {% else %}
                                    Assign AE (Due 1-Jan-2023)
                                {% endif %}
                            </td>  
                            <td>
                                <a href="{% url 'ae_affairs' type %}?page={{ forloop.counter }}"><i class="fa-solid fa-angles-right"></i></a>
                            </td>     
                        </tr>
                    {% endfor %}    
                </tbody>
            </table>
        </div>
  </div>

  {% include "includes/pagination.html" %} 

  <script>
    function openNewWindow(url) {
        window.open(url, '_blank', 'width=700,height=700'); 
    }
</script>
  
{% endblock %}