{% extends 'base.html' %}

{% block content %}
<h3>Dashboard</h3>
<p>You can access manuscripts in each peer review status by clicking on the status queue title. The number next to each status queue title indicates the number of manuscripts in that status. You may search for specific manuscripts with the Quick Manuscript Search form.</p> 
<div class="card border-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header"><b>Editor-in-Chief Lists</b>
        <p>
          You may click on the manuscript list title to view a full listing of manuscripts in each status, or click on the number next to the list to jump directly to the first manuscript in the list.</p>
    </div>
    <div class="card-body text-secondary">
      <h5 class="card-title">EIC Tasks</h5>
      <p class="card-text">
        <a href="{% url 'awaiting_ae_assignment' %}">Awaiting AE Assignment</a><br/>
        Awaiting EIC Decision
    </p>
    </div>
  </div>

{% endblock %}